/* code css from here */


/*--------------------------------------------------------------------- import*/
@import url(https://fonts.googleapis.com/css?family=Roboto:700,300,500italic,900,300italic,400italic,900italic,100italic,100,500,400,700italic&subset=vietnamese,latin);
// LESS variables
@font-family-roboto: 'Roboto', sans-serif;
@body-font-size: 14px;
@banner-height: 400px;
@header-text-color: #e2e2e2;
@header-text-height: 150px;
@row-gap-small-height: 10px;
@row-gap-small-medium: 20px;
@row-gap-small-large: 50px;
@orange: #FF530D;
@heavy-blue-sky: #0090b0;
@bold: 700;
@normal: 400;
// Helper function
.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

/* iPhone 6 */
@media only screen and (max-device-width: 667px)
    and (-webkit-device-pixel-ratio: 2) {
    h2 {
    	text-align: center;
    }
    .header-intro-movie {
    	h2 {
    		font-size: 8vw !important;
    		text-align: left !important;
    	}
    }
    .facebook {
		text-align: center !important;
		iframe {
			width: 290px !important;
		}
	}
	.slide-caption {
		h1 {
			font-size: 8vw;
		}
		h2 {
			font-size: 6vw;
		}
		h3 {
			font-size: 5vw;
		}
	}
	.carousel-indicators {
		position: absolute;
		bottom: -13% !important;
		li {
			border-color: #000000;
			&.active {
				background-color: #000000;
			}
		}
	}
}

/* iPhone 6+ */
@media screen and (min-device-width : 414px)
    and (-webkit-device-pixel-ratio: 3) {
    .facebook {
		text-align: center !important;
		iframe {
			width: 320px !important;
		}
	}
}

@media only screen and (min-width: 800px) {
	h2 {
		font-size: 48px !important;
		font-weight: @normal;
	}
	.header-about {
		.container {
			h2 {
				text-align: left !important;
			}
		}
	}
	.header-ceo-message {
		.container {
			h2 {
				font-family: @font-family-roboto;
				text-align: left !important;
			}
			img#ceo-picture {
				width: 428px !important;
				position: relative;
				left: -113px !important;
				margin-bottom: 0px;
			}
		}
	}
	.header-apply-resume {
		.container {
			width: 800px !important;
			.input-form {
				width: 650px !important;
				padding: 20px !important;
				float: none !important;
			}
		}
	}
	.header-find-job {
		.list.l-col {
			width: 60% !important;
		}
		.list.r-col {
			width: 40% !important;
		}
	}
	.header-info {
		.logo {
			margin: 0 !important;
		}
	}
	.header-environment {
		.nav-pills {
			li {
				a {
					padding-top: 18px !important;
					padding-bottom: 18px !important;
				}
			}
			li.active:before {
				display: block !important;
			}
			li.active:after {
				display: block !important;
			}
		}
	}
	.header-intro-movie {
		h2 {
			font-size: 48px !important;
		}
	}
	.carousel-indicators {
		position: absolute;
		bottom: 10% !important;
		li {
			border-color: #ffffff !important;
			&.active {
				background-color: #ffffff !important;
			}
		}
	}
	.slide-caption {
		h1 {
     		font-size: 3vw !important;
		}
		h2 {
			font-size: 2.5vw !important;
		}
		h3 {
			font-size: 2vw !important;
		}
	}
}

@media only screen and (max-width: 400px) {
	h2 {
		font-size: 8vw !important;
	}
	.slide-caption {
		h1 {
			font-size: 8vw !important;
		}
		h2 {
			font-size: 6vw !important;
		}
		h3 {
			font-size: 5vw !important;
		}
	}
}

@media only screen and (max-width: 768px) {
	h2 {
		text-align: center !important;
	}
}

.input-lg {
	padding: 5px 16px;
	height: 37px !important;
}

.has-feedback {
	label.error {
		position: absolute;
		top: 0px;
		right: 0px;
	}
}

// Helper class
.row-gap-small {
	height: @row-gap-small-height;
	display: block;
}
.row-gap-medium {
	height: @row-gap-small-medium;
	display: block;
}
.row-gap-large {
	height: @row-gap-small-large;
	display: block;
}
.text-bold {
	font-weight: @bold;
}
.text-underline {
	text-decoration: underline;
}
.text-center {
	text-align: center;
}
.text-semi-bold {
	font-weight: 500;
}
.no-padding-l {
	padding-left: 0;
}
.no-padding-r {
	padding-right: 0;
}
.no-padding-lr {
	.no-padding-l;
	.no-padding-r;
}
.full-width {
	width: 100%;
}
.transition (@value) {
	-webkit-transition: @value;
	-moz-transition: @value;
	-o-transition: @value;
	-ms-transition: @value;
	transition: @value;
}
.btn-blue {
	background: #0090B0;
	color: #fff;
	border: none;
	&:hover, &:focus, &:active, &:focus:active {
		color: #fff;
	}
	&.large {
		padding: 20px 50px;
		font-size: @body-font-size*1.5;
		.text-bold;
		text-transform: uppercase;
	}
}
a.black-link {
	color: black;
	&:hover, &:focus, &:active, &:focus:active {
		color: black;
		text-decoration: none;
	}
}
// white-link
a.white-link {
	color: white;
	&:hover, &:focus, &:active, &:focus:active {
		color: white;
		text-decoration: none;
	}
}
.text-blue {
	color: #0A93B2;
}
.bg-white {
	background-color: #ffffff;
}
.slide-caption {
	text-align: center;
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
	position: absolute;
	width: 100%;
	color: #ffffff;
}
#carousel-captions {
	.item {
		text-align: center !important;
		img {
			margin: 0 auto !important;
		}
	}
}
.pagination {
	> li {
		> a.white-link, span {
			&, &:hover, &:focus, &:active, &:focus:active {
				color: white;
			}
		}
	}
}
.float-right {
	float: right !important;
}
// begin styling
body, html {
	font-family: @font-family-roboto;
	font-size: @body-font-size;
	h1, h2, h3, h4, h5, h6{
		font-family: @font-family-roboto;
	}
}
h1, h2, h3, h4, h5, h6 {
	.text-semi-bold;
	// link
}
h2 {
	font-size: 48px;
	font-weight: @normal;
}
h3 {
	font-weight: @normal;
}
.navbar-default {
	margin-bottom: 0;
	height: auto !important;
	border-width: 0 0 1px;
	.navbar-brand {
		padding: 5px 15px !important;
	}
	.navbar-collapse {
		padding-left: 0px;
		padding-right: 0px;
	}
	ul.nav {
		margin-top: 0px !important;
	}
	li.active {
		a {
			background: #f8f8f8 !important;
			&:after {
				background: #0090B0;
				width: 100%;
				height: 2px;
				display: block;
				content: '';
				position: relative;
			}
		}
	}
}
.header-banner {
	min-height: @banner-height;
	// background: url('../img/1.png');
	color: #fff;
	.container {
		min-height: @banner-height;
		margin: auto auto;
		vertical-align: middle;
		h2:first-child {
			margin-top: @banner-height/2 - 50;
		}
	}
}
.header-join {
	background: @header-text-color;
	padding-top: 40px;
	padding-bottom: 60px;
	background: #c8d7d7 url('../img/bg/grey-pattern.png');
	button {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 20px;
	}
}
.header-about {
	min-height: 580px;
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #ffffff url('../img/bg/about-us.png') top center no-repeat;
	.container {
		p {
			font-size: 16px;
			line-height: 25px;
			margin-bottom: 18px;
			text-align: justify;
		}
	}
}
.header-apply-resume, #new-job-detail, #new-job-company {
	.submit {
		background-color: @orange;
		color: #ffffff;
		font-weight: bold;
		font-size: 28px;
		padding: 10px 20px;
		margin: 0 auto;
		display: block;
		float: none;
		span.send {
			background: url('../img/icons/r-arrow-circle.png') center left no-repeat;
			width: 130px;
			height: 40px;
			padding-left: 50px;
			margin: 0 auto;
			display: block;
		}
	}
	.submit:hover {
		background-color: #ff733a;
		text-decoration: none;
	}
}
.header-apply-resume {
	padding-top: 50px;
	padding-bottom: 50px;
	background: url('../img/apply-resume.png') top left;
	font-size: 18px;
	.container {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		min-height: 700px;
		display: block;
		.input-form {
			/*position: absolute;*/
			top: 0px;
			left: 0px;
			margin: 0px auto;
			padding: 20px;
			width: 100%;
			background: url('../img/bg/bg1px-white.png');
			h2 {
				text-align: center;
				color: @heavy-blue-sky;
				/* margin: 0px 0px 25px 0px; */
			}
			label {
				font-weight: bold;
				margin-right: 10px;
			}
			label.option {
				font-weight: normal;
				margin-left: 20px;
				margin-right: 20px;
			}
			.blankline {
				height: 20px;
			}
			.filename {
				font-size: 18px;
				margin-left: 10px;
				color: @heavy-blue-sky;
			}
			.submit:hover {
				text-decoration: none;
			}
			fieldset {
				width: 90%;
				border: 0;
				margin: 15px auto;
				i.email {
					background: url('../img/icons/email.png') center center no-repeat;
				}
				i.user {
					background: url('../img/icons/user.png') center center no-repeat;
				}
				i.phone {
					background: url('../img/icons/phone.png') center center no-repeat;
				}
				i.radio {
					width: 30px;
					height: 30px;
					margin: 0 10px 0 0;
					float: left;
					background: url('../img/icons/radio-unchecked.png') top left no-repeat;
				}
				i.radio.checked {
					background: url('../img/icons/radio-checked.png') top left no-repeat;
				}
				.glyphicon {
					top: 3px;
				}
			}
			fieldset.box {

				border: solid 2px #1f9b4c;
				margin-bottom: 10px;
				i.icon {
					background-color: #1f9b4c;
					width: 65px;
					height: 55px;
					position: absolute;
				}
			}
			input[type="text"] {
				/* background: transparent; */
				/* width: 100%; */
				/* height: 55px; */
				/* font-size: 22px; */
				color: #333333;
				/* border: none; */
				/* padding: 10px 20px; */
				/* padding-left: 75px; */
				/* box-sizing: border-box; */
			}
			input[type="file"] {
				padding-top: 0px;
				padding-bottom: 0px;
				border: 0;
				background: transparent;
				box-shadow: none;
			}
			input[type="radio"] {
				margin-right: 5px;
			}
			input[type="button"] {
				padding: 3px 30px;
				background-color: @heavy-blue-sky;
				color: #ffffff;
				border: 0;
			}
		}
	}
}
.header-find-job {
	padding-top: 50px;
	background: #0090B0 url('../img/bg/ocean.png');
	a {
		color: #58595b;
	}
	a:hover {
		text-decoration: none;
	}
	.container {
		color: #fff;
		font-size: 16px;
		h2 {
			text-align: center;
			color: #ffffff;
			font-size: 48px;
			margin: 0px 0px 45px 0px;
		}
		.list {
			.header {
				background-color: #b3e0ef;
				opacity: 0.35;
				height: 55px;
			}
			.info {
				background-color: #ffffff;
				color: #58595b;
				padding: 10px 50px;
				h4 {
					background: url('../img/icons/arrow-next.png') no-repeat;
					background-position-x: 10px;
					background-position-y: center;
					padding-left: 30px;
					margin-left: -30px;
					margin-top: 10px;
					margin-bottom: 10px;
					i.highlight {
						color: #ff3232;
						font-weight: lighter;
					}
				}
			}
			.ads {
				background-color: #ffffff;
				color: #ffffff;
				padding: 11px 20px 11px 20px;
				position: relative;
				.overlay {
					background-color: #000000;
					border: solid 1px #999999;
					opacity: .3;
					width: 80%;
					height: 60%;
					position: absolute;
					top: 20%;
					left: 10%;
				}
				img {
					width: 100%;
				}
				h4 {
					position: absolute;
					color: #ffffff;
					text-align: center;
					display: inline-block;
					vertical-align: middle;
					width: 80%;
					left: 10%;
					top: 30%;
					opacity: 1;
					z-index: 10;
				}
				a {
					width: 100%;
					height: 100%;
					display: block;
				}
			}
			.odd {
				background-color: #fafafa;
			}
			h3 {
				opacity: 1;
				font-size: 26px;
				width: 100%;
				margin-top: 13px;
				text-align: center;
				position: absolute;
				top: 0;
			}
		}
		.list.l-col {
			.header {
				margin-right: 5px;
			}
			.info {
				margin-right: -10px;
			}
			.see-all-job-overlay {
				height: 200px;
				margin-top: -200px;
				background-color: #ffffff;
				position: relative;
				opacity: 0.85;
			}
			.see-all-job {
				text-align: center;
				a {
					display: inline-block;
					top: -117px;
					z-index: 100;
					width: 230px;
					padding: 10px;
					background-color: #ff530d;
					color: #ffffff;
					font-size: 22px;
					position: relative;
					-webkit-border-radius: 5px !important;
					-moz-border-radius: 5px !important;
					border-radius: 5px !important;
					&:hover {
						background-color: #ff733a !important;
					}
				}
			}
		}
		.list.r-col {
			margin-bottom: 20px;
			.header {
				margin-left: 5px;
			}
			.space {
				background-color: #ffffff;
				margin: 0 -15px 0 -10px;
				height: 10px;
			}
			.ads {
				margin-left: -10px;
			}
			.paging {
				text-align: center;
				margin-left: -10px;
				padding: 8px 0;
				background-color: #ffffff;
				ul {
					display: inline-block;
					padding: 0;
					list-style: none;
					li {
						background-color: #c1c1c1;
						width: 12px;
						height: 12px;
						border-radius: 13px;
						margin: 0 3px;
						float: left;
					}
					li.active {
						background-color: #0090b0;
					}
				}
			}
		}
	}
}
.header-service {
	padding-top: 50px;
	background: #0090B0;
	.container {
		color: #fff;
	}
}
.header-environment {
	font-size: 16px;
	padding-top: 50px;
	background: #fff;
	img {
		margin-bottom: 5px;
	}
	h2 {
		font-size: 48px;
	}
	.nav-pills {
		li {
			a {
				padding-top: 5px;
				padding-bottom: 5px;
				font-size: 18px;
				font-weight: @normal;
			}
		}
		li.active {
			margin-bottom: 5px;
			a {
				margin-bottom: 0px;
			}
		}
		li.active:before {
			display: none;
		}
	}
}
.header-work-environment {
	background-color: #ffffff;
	h2 {
		font-size: 48px;
		margin: 40px 0;
	}
	h3 {
		margin-top: 10px;
	}
	.container {
		.col-xs-6 {
			margin-bottom: 30px;
		}
	}
}
.header-intro-movie {
	font-size: 16px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #0090B0 url('../img/bg/49.png');
	color: #fff;
	h2 {
		font-size: 8vw;
	}
	h3 {
		font-size: 30px;
	}
	.content {
		line-height: 25px;
		margin-bottom: 20px;
		text-align: justify;
	}
	.video-container {
		min-height: 300px;
	}
}
.header-ceo-message {
	font-size: 16px;
	line-height: 25px;
	background: #ffffff url('../img/ceo_message/52.png') top left no-repeat;
	background-size: cover;
	h2 {
		margin: 20px 0;
		text-align: center;
		strong {
			color: @orange;
		}
	}
	p {
		text-align: justify;
	}
	.container {
		.bg-white {
			margin-bottom: 10px;
		}
		img#ceo-picture {
			width: 200px;
			position: relative;
			left: -15px;
			margin-bottom: 0px;
			z-index: 100;
		}
		img#ceo-signature {
			width: 200px;
			right: 10px;
			position: relative;
		}
	}
}
#new-jobs .header-job-list {
	background: transparent !important;
	padding-top: 10px;
	padding-bottom: 10px;
	.new {
		color: #ff3232;
	}
	.hot {
		.title {
			color: #ff3232 !important;
		}
	}
	.posted {
		padding-left: 25px;
		background: url('../img/new_job/4.png') 4px 0px no-repeat;
		margin-bottom: 5px;
		font-size: 12px;
	}
	.views {
		padding-left: 25px;
		background: url('../img/new_job/5.png') 0px 0px no-repeat;
		margin-bottom: 0px;
		font-size: 12px;
	}
	nav {
		text-align: center;
	}
	.pagination {
		margin: 10px auto;
		li {
			a {
				background: transparent;
				span {
					color: #0090B0;
				}
			}
		}
	}
	.nano {
		background-color: #ffffff;
		height: auto;
		max-height: 1000px;
		.nano-content {
			right: 0px !important;
			padding: 0px;
			margin: 10px 0px;
			.item {
				padding: 15px 20px;
				.title {
					color: #434343;
					line-height: 20px;
					margin-bottom: 5px;
					margin-top: 0px;
				}
				.info {
					padding-right: 0px;
				}
				a:hover {
					text-decoration: none;
				}
			}
		}
	}
	.sidebar {
		.row {
			background-color: #ffffff;
			margin-left: 0px;
			margin-bottom: 10px;
			a:hover {
				text-decoration: none;
			}
			img {
				width: 100%;
			}
			h4 {
				color: #ff3232;
				font-size: 13px;
				margin-bottom: 5px;
				padding-left: 10px;
				padding-right: 10px;
			}
			.l-col {
				width: 60%;
				float: left;
			}
			.r-col {
				width: 40%;
				float: left;
				font-size: 12px;
				padding: 10px 10px 10px 0;
				div {
					margin-bottom: 5px;
				}
			}
			.info {
				font-size: 12px;
				margin-bottom: 10px;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}
.header-job-list {
	background: @orange;
	color: #fff;
	.btn-search {
		background: @orange;
		border: 3px solid #fff;
		color: #fff;
		.glyphicon-menu-right:first-child {
			margin-right: -7px;
		}
	}
	.item-list {
		background: #fff;
		color: #000;
		padding: 50px 50px;
		.status {
			color: #FE2A2A;
			font-weight: 700;
		}
		.title {
			color: #292929;
			font-weight: 700;
		}
		.item {
			border-bottom: 1px solid #ccc;
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
	}
	.text-muted {
		color: #333;
	}
}
.header-map {
	padding: 20px 20px;
	background-color: #e5e5e5;
	h3 {
		margin-top: 0;
	}
}
.header-info {
	background: #222;
	color: #fff;
	.container {
		padding-top: 50px;
		.logo {
			margin: 0 auto;
		}
	}
}
.header-footer {
	color: #fff;
	footer {
		background: #000;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.btn-orange {
	background-color: @orange;
	color: #fff;
	&:hover, &:focus, &:active, &:focus:active {
		background-color: #ff733a !important;
		color: #fff;
	}
}
.btn-toggle {
	color: #212737;
}
.btn, .form-control, select {
	/* .border-radius(0); */
}
.separator {
	border-top: 1px solid #ccc;
}
.nav-pills {
	> li {
		> a {
			.border-radius(0);
			background: #E1E1E1;
			padding: 20px 20px;
			color: #000;
		}
		&.active {
			&:after {
				content: '';
			    display: none;
			    width: 0;
			    height: 0;
			    border-color: #fff;
			    vertical-align: middle;
			    border-top: 8px dashed #0091b0;
			    border-top: 8px solid\9;
			    border-right: 8px solid transparent;
			    border-left: 8px solid transparent;
			    left: 50%;
			    margin-left: -7px;
			    position: relative;
			    bottom: 0px;
			}
			&:before {
				content: '';
				display: block;
				height: 5px;
				width: 100%;
				position: relative;
				top: 60px;
				background: #00678D;
				z-index: 999;
			}
			a, a:hover, a:focus, a:active {
				background: #0091b0;
			}
		}
	}
}

#mobile-header {
    display: none;
    .navbar-brand {
    	padding-top: 5px;
    	padding-bottom: 5px;
    	img {
    		width: 240px;
			margin-top: 6px;
    	}
    }
}
#sidr-main {
	.sidr-class-navbar-brand {
		img {
			padding: 10px 10px;
			width: 100%;
			height: 100%;
		}
	}
	button {
		.btn-orange;
		width: 100%;
		border: none;
	}
	.sidr-class-navbar-bars {
		display: none;
	}
}
.sidr-open.sidr-main-open {
	position: relative;
	width: 100% !important;
	left: 0 !important;
}
/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
> .nano-content:focus {
  outline: none;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
// nano
.nano {
	width: 100%;
	height: 520px;
	.nano-content {
	  padding: 30px 0px;
	}
	.nano-pane {
		margin: 10px 10px;
		background: #e3e3e3;
		.nano-slider {
			background: #0090B0;
		}
	}
}
#detail-staff {
	background: #F2F2F2;
	.header-banner {
		background: url('../img/detail_staff/1.png');
	}
	.header-our-thoughts {
		.caption {
			position: absolute;
		    bottom: 0;
		    background-color: #ccc;
		    padding-left: 15px;
		    padding-bottom: 20px;
		    color: #fff;
		    background-color: rgba(50, 50, 50, .35);
		    &.left {
			    left: 0;
			    margin-right: 15px;
		    }
		    &.right {
		    	right: 0;
		    	margin-left: 15px;
		    }
		    h3 {
		    	display: inline-block;
		    	border-bottom: 1px solid #fff;
		    }
		}
		.item {
			background: #fff;
			padding: 0px;
			margin: 0px;
			margin-bottom: 20px;
			.avatar {
				padding: 0px;
			}
			&.left-alignment {
				.avatar {
					float: left;
				}
				.content {
					padding: 20px 70px 10px 10px;
					float: right;
					&:before {
						margin-bottom: -15px;
						margin-right: -50px;
						content: url('../img/detail_staff/11.png');
						float: right;
					}

				}
			}
			&.right-alignment {
				.avatar {
					float: right;
				}
				.content {
					padding: 20px 10px 10px 70px;
					float: left;
					&:before {
						margin-bottom: -15px;
						margin-left: -50px;
						content: url('../img/detail_staff/11_r.png');
						float: left;
					}
				}
			}
		}
	}
}
.header-job-list {
	color: #333;
	background: #fff;
	&.home-page {
		background: @orange;
		color: #fff;
		&:focus, &:active, &:focus:active {
			outline: none;
		}
		.list {
			background: #fff;
			color: #333;
		}
		.nano {
			.nano-content {
				padding: 10px 35px 30px 15px !important;
			}
			height: 730px;
		}
	}
	.text-blue {
		color: #0A93B2;
		font-style: italic;
		font-weight: lighter;
	}
	.item {
		padding: 30px 20px;
		border-bottom: 1px dotted #b1b1b1;
		.title {
			.text-bold;
			font-size: @body-font-size*1.2;
		}
		.title {
			a {
				&, &:hover, &:active, &:focus {
					text-decoration: none;
				}
				&.urgent, &.new {
					color: #FF3232;
				}
			}
		}
		img.date, img.view {
			margin-right: 3px;
			&.view {
				margin-left: -3px;
			}
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
#new-jobs, #new-job-detail, #new-job-company {
	background: #F2F2F2;
	.header-banner {
		img {
			width: 100%;
		}
	}
	.greybar {
		height: 88px;
		background-color: #dedede;
	}
	.header-search-bar {
		padding: 30px 0;
		background: url('../img/new_job/1.png') no-repeat;
		color: #fff;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		.stat {
			.text-bold;
		}
		.vertical-bar {
			margin-left: 10px;
			margin-right: 10px;
		}
		.form-group {
			.form-control {
				margin-bottom: 10px;
			}
		}
	}
	.pagination {
		li {
			a {
				.border-radius(4px);
				margin: 5px 10px;
				padding: 10px 15px;
				border-color: #0090B0;
				color: #0090B0;
				&.active {
					background: #0090B0;
					color: #fff;
				}
				&:first-child {
					margin-left: 0;
				}
			}
			span.gap {
				margin: 5px 10px 5px 0px;
				padding: 2px 15px 10px 15px;
				border: none;
				color: #0090B0;
				background: transparent;
				font-weight: bold;
				font-size: 20px;
			}
		}
	}
	nav.navbar {
		li:last-child {
			display: none;
		}
	}
	.glyphicon-menu-right:first-child {
		margin-right: -7px;
	}
	.nano {
		height: 1000px;
	}
	@title-font-size: @body-font-size*1.8;
	.standout {
		background: url('../img/new_job_detail/7.png');
		line-height: @body-font-size*2;
		padding: 30px 30px;
		.title {
			color: @orange;
			font-size: @title-font-size;
			.text-bold;
		}
	}
	.detail {
		background: #fff;
		padding: 30px 30px;
		.title {
			color: #0090B0;
			font-size: @title-font-size;
			margin-bottom: 10px;
		}
		.content {
			margin-left: 30px;
			margin-bottom: 20px;
		}
	}
	ul {
		padding-left: 15px;
	}
	.actions {
		background: url('../img/new_job_detail/7.png');
		padding: 15px 30px;
		.item {
			line-height: 33px;
			height: 33px;
			color: #676767;
			.item-name {
				margin-left: 8px;
			}
		}
		border: 1px solid #C4C4C4;
	}
}
#new-job-detail, #new-job-company {
	.lab-pictures {
		border-top: 1px dotted #dedede !important;
		border-bottom: 1px  dotted #dedede !important;
		background-color: #ffffff;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.end-lab-info {
		background-color: #ffffff;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.end-job-info {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.header-banner {
		min-height: 0 !important;
		.overlay {
			height: 80px !important;
			min-height: 80px !important;
			margin-top: -80px;
			div.info {
				width: 100%;
				height: 100%;
				background: url('../img/bg/bg1px.png');
				position: relative;
				h2 {
					position: absolute;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					top: 50%;
					margin: 0 auto;
					text-align: center;
					width: 100%;
				}
			}
		}
	}
}
.header-top-apply {
	background: url('../img/new_job/1.png') no-repeat;
	background-size: cover;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	h2 {
		font-size: 48px;
	}
	label {
		font-weight: bold;
		margin-right: 10px;
	}
	label.option {
		font-weight: normal;
		margin-left: 20px;
		margin-right: 20px;
	}
	.blankline {
		height: 20px;
	}
	.filename {
		font-size: 18px;
		margin-left: 10px;
		color: @heavy-blue-sky;
	}
	.submit:hover {
		text-decoration: none;
	}
}
#apply {
	font-size: 22px;
	.input-form {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0 auto;
		padding: 20px;
		width: 100%;
		fieldset {
			border: 0;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		fieldset.box {
			border: solid 2px #1f9b4c;
			margin-bottom: 10px;
			margin-top: 15px;
			i.icon {
				background-color: #1f9b4c !important;
				width: 65px;
				height: 55px;
				position: absolute;
			}
			i.email {
				background: url('../img/icons/email.png') center center no-repeat;
			}
			i.user {
				background: url('../img/icons/user.png') center center no-repeat;
			}
			i.phone {
				background: url('../img/icons/phone.png') center center no-repeat;
			}
		}
		.radiogroup {
			i.radio {
				width: 30px;
				height: 30px;
				margin: 0 10px 0 0;
				float: left;
				background: url('../img/icons/radio-unchecked.png') top left no-repeat;
			}
			i.radio.checked {
				background: url('../img/icons/radio-checked.png') top left no-repeat;
			}
		}
		label {
			font-weight: bold;
			margin-right: 10px;
		}
		label.option {
			font-weight: normal;
			margin-left: 0px;
			margin-right: 40px;
		}
		.blankline {
			height: 20px;
		}
		.filename {
			font-size: 18px;
			margin-left: 10px;
			color: @heavy-blue-sky;
		}
		.submit {
			font-size: 28px;
			font-weight: bold;
			text-align: center;
			background-color: @orange;
			color: #ffffff;
			padding: 10px 20px;
			margin: 0 auto;
			display: block;
			float: none;
		}
		.submit:hover {
			text-decoration: none;
		}
		input[type="text"] {
			background: transparent;
			width: 100%;
			height: 55px;
			font-size: 22px;
			color: #333333;
			border: none;
			padding: 10px 20px;
			padding-left: 75px;
			box-sizing: border-box;
		}
		input[type="radio"] {
			margin-right: 5px;
		}
		input[type="button"] {
			padding: 3px 30px;
			background-color: #0090b0;
			color: #ffffff;
			border: 0;
		}
		input[type="checkbox"] {
			/* Double-sized Checkboxes */
			-ms-transform: scale(2); /* IE */
			-moz-transform: scale(2); /* FF */
			-webkit-transform: scale(2); /* Safari and Chrome */
			-o-transform: scale(2); /* Opera */
			margin-right: 10px;
			position: relative;
			left: 5px;
		}
	}
	div.box {
		padding: 20px 25px;
		color: #0090B0;
		background: #fff;
		border: 1px solid #ECECEC;
	}
	label {
		text-align: left;
	}
	.btn-blue {
		padding-left: 25px;
		padding-right: 25px;
	}
	.nano {
		height: 150px;
		> .nano-pane {
			background : #e4e4e4;
		}
		.nano-content {
			padding: 10px;
		}
	}
}
#global-service {
	.header-banner {
		background: url('../img/global_service/1.png') no-repeat;
		background-size: cover;
		height: 800px;
		h2:first-child {
			margin-top: 300px;
			font-size: @body-font-size*3.5;
		}
	}
	.image-wrapper {
	    position: relative;
	    cursor: pointer;
	    overflow: hidden;
		img {
		    .transition(all 300ms ease-out);
		}
		.text-wrapper {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 15px;
		    right: 15px;
		    padding: 15px 15px;
		    background-color: #E4887D;
		    color: #fff;
		    z-index: 100;
		    .transition(all 300ms ease-out);
		    opacity: 0;
		    width: 100%;
		    height: 100%;
		    padding: 130px 20px;
		}
		&:hover {
			.text-wrapper {
		    	opacity: .9;
		    }
		}
		.overtext {
		    .transition(all 300ms ease-out);
		    transform: translateY(40px);
		    -webkit-transform: translateY(40px);
		}
		.tagline {
		    font-size: 0.8em;
		    opacity: 0;
		    transition-delay: 0.2s;
		    transition-duration: 0.2s;
		}
		.title {
			margin-top: 70px;
			margin-bottom: 10px;
		    font-size: @body-font-size*1.5;
		    text-transform: uppercase;
		    opacity: 0;
		    transition-delay: 0.1s;
		    transition-duration: 0.2s;
		}
		&:hover, &:focus {
			.title {
			    opacity: 1;
			    transform: translateY(0px);
			    -webkit-transform: translateY(0px);
			}
			.tagline {
			    opacity: 1;
			    transform: translateX(0px);
			    -webkit-transform: translateX(0px);
			}
		}
	}
	.icon-circles {
		color: #0090B0;
		.icon {
			position: relative;
			font-size: 20px;
			&.large {
				font-size: 30px;
				top: 3px;
			}
		}
	}
}
.headline-blue {
	background: #0090B0;
	color: #fff;
	padding: 15px 15px;
	font-size: @body-font-size*1.2;
}
// Carousel
.carousel-control {
	background-image: none !important;
}
.carousel-fade {
	.carousel-inner {
		.item {
			opacity: .3;
			-webkit-transition-property: opacity;
			-moz-transition-property: opacity;
			-o-transition-property: opacity;
			transition-property: opacity;
			img {
				margin: 0 auto;
			}
			.mask {
				width: 100%;
				background: url('../img/bg/grid.png');
				z-index: 10;
				position: absolute;
			}
		}
		.active {
			opacity: 1;
		}
		.active.left, .active.right {
			left: 0;
			opacity: .3;
			z-index: 1;
		}
		.next.left, .prev.right {
			opacity: 1;
		}
	}
	.carousel-control {
		z-index: 2;
	}
}
.agree-cv input[type="checkbox"] {
  /* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	margin-right: 10px;
}
.input-form .submit {
  border: 0px !important;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 100%;
}
#map {
	border: solid 1px #cccccc;
	margin-bottom: 20px;
}
button {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
}
.hand{
	cursor: pointer;
}
.btn-apply {
	margin: 0 auto;
	float: none;
}

.navbar-default .navbar-nav > li > a.btn-join, .navbar-default .navbar-text{
    background-color: #ff530d;
    border-radius: 5px;
    color: #fff;
    padding: 6px 12px;
}
.navbar-default .navbar-nav > li > a.btn-join:focus, .navbar-default .navbar-nav > li > a.btn-join:hover{
    background-color: #ff530d;
}
@import 'screen-xs.less';
@import 'screen-sm.less';
@import 'screen-sm-max.less';
@import 'screen-md.less';
@import 'screen-lg.less';