/* code css from here */


/*--------------------------------------------------------------------- import*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500&subset=latin,vietnamese);
// LESS variables
@body-font-size: 14px;
@banner-height: 400px;
@header-text-color: #e2e2e2;
@header-text-height: 150px;
@row-gap-small-height: 10px;
@row-gap-small-medium: 20px;
@row-gap-small-large: 50px;
@navbar-height: 150px;
@orange: #FF530D;
@bold: 700;
// Helper function
.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

// Helper class
.row-gap-small {
	height: @row-gap-small-height;
	display: block;
}
.row-gap-medium {
	height: @row-gap-small-medium;
	display: block;
}
.row-gap-large {
	height: @row-gap-small-large;
	display: block;
}
.text-bold {
	font-weight: @bold;
}
.text-underline {
	text-decoration: underline;
}
.text-center {
	text-align: center;
}
.text-semi-bold {
	font-weight: 500;
}
.no-padding-l {
	padding-left: 0;
}
.no-padding-r {
	padding-right: 0;
}
.no-padding-lr {
	.no-padding-l;
	.no-padding-r;
}
.full-width {
	width: 100%;
}
.transition (@value) {
	-webkit-transition: @value;
	-moz-transition: @value;
	-o-transition: @value;
	-ms-transition: @value;
	transition: @value;
}
.btn-blue {
	background: #0090B0;
	color: #fff;
	border: none;
	&:hover, &:focus, &:active, &:focus:active {
		color: #fff;
	}
	&.large {
		padding: 20px 50px;
		font-size: @body-font-size*1.5;
		.text-bold;
		text-transform: uppercase;
	}
}
a.black-link {
	color: black;
	&:hover, &:focus, &:active, &:focus:active {
		color: black;
		text-decoration: none;
	}
}
// white-link
a.white-link {
	color: white;
	&:hover, &:focus, &:active, &:focus:active {
		color: white;
		text-decoration: none;
	}
}
.pagination {
	> li {
		> a.white-link, span {
			&, &:hover, &:focus, &:active, &:focus:active {
				color: white;
			}
		}
	}
}
// begin styling
body, html {
	font-family: 'Roboto', sans-serif;
	font-size: @body-font-size;
}
h1, h2, h3, h4, h5, h6 {
	.text-semi-bold;
	// link
}
.navbar-default {
	margin-bottom: 0;
	li.active {
		a {
			background: #f8f8f8 !important;
			&:after {
				background: #0090B0;
				width: 100%;
				height: 2px;
				display: block;
				content: '';
				position: relative;
			}
		}
	}
}
.header-banner {
	height: @banner-height;
	background: url('../img/1.png');
	color: #fff;
	.container {
		height: @banner-height;
		margin: auto auto;
		vertical-align: middle;
		h2:first-child {
			margin-top: @banner-height/2 - 50;
		}
	}
}
.header-join {
	background: @header-text-color;
	padding-top: 30px;
	padding-bottom: 50px;
}
.header-about {
	padding-top: 50px;
	padding-bottom: 50px;
}
.header-service {
	padding-top: 50px;
	background: #0090B0;
	.container {
		color: #fff;
	}
}
.header-environment {
	img {
		margin-bottom: 5px;
	}
}
.header-intro-movie {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #0090B0;
	color: #fff;
}
.header-ceo-message {
}
.header-job-list {
	background: #FF530D;
	color: #fff;
	.btn-search {
		background: @orange;
		border: 3px solid #fff;
		color: #fff;
		.glyphicon-menu-right:first-child {
			margin-right: -7px;
		}
	}
	.item-list {
		background: #fff;
		color: #000;
		padding: 50px 50px;
		.status {
			color: #FE2A2A;
			font-weight: 700;
		}
		.title {
			color: #292929;
			font-weight: 700;
		}
		.item {
			border-bottom: 1px solid #ccc;
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
	}
	.text-muted {
		color: #333;
	}
}
.header-map {
	padding: 20px 20px;
	h3 {
		margin-top: 0;
	}
}
.header-info {
	background: #222;
	color: #fff;
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.header-footer {
	color: #fff;
	footer {
		background: #000;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.btn-orange {
	background-color: @orange;
	color: #fff;
	&:hover, &:focus, &:active, &:focus:active {
		color: #fff;
	}
}
.btn-toggle {
	color: #212737;
}
.btn, .form-control, select {
	.border-radius(0);
}
.separator {
	border-top: 1px solid #ccc;
}
.nav-pills {
	> li {
		> a {
			.border-radius(0);
			background: #E1E1E1;
			padding: 20px 20px;
			color: #000;
		}
		&.active {
			&:after {
				content: '';
			    display: block;
			    width: 0;
			    height: 0;
			    border-color: #fff;
			    vertical-align: middle;
			    border-top: 8px dashed #0091b0;
			    border-top: 8px solid\9;
			    border-right: 8px solid transparent;
			    border-left: 8px solid transparent;
			    left: 50%;
			    margin-left: -7px;
			    position: relative;
			    bottom: 0px;
			}
			&:before {
				content: '';
				display: block;
				height: 5px;
				width: 100%;
				position: relative;
				top: 60px;
				background: #00678D;
				z-index: 999;
			}
			a, a:hover, a:focus, a:active {
				background: #0091b0;
			}
		}
	}
}

#mobile-header {
    display: none;
    .navbar-brand {
    	padding-top: 5px;
    	padding-bottom: 5px;
    	img {
    		height: 40px;
    	}
    }
}
#sidr-main {
	.sidr-class-navbar-brand {
		img {
			padding: 10px 10px;
			width: 100%;
			height: 100%;
		}
	}
	button {
		.btn-orange;
		width: 100%;
		border: none;
	}
	.sidr-class-navbar-bars {
		display: none;
	}
}
.sidr-open.sidr-main-open {
	position: relative;
	width: 100% !important;
	left: 0 !important;
}
/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
> .nano-content:focus {
  outline: none;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
// nano
.nano {
	width: 100%;
	height: 520px;
	.nano-content {
	  padding: 30px 50px;
	}
	.nano-pane {
		margin: 10px 10px;
		background: #e3e3e3;
		.nano-slider {
			background: #fb5308;
		}
	}
}
#detail-staff {
	background: #F2F2F2;
	.header-banner {
		background: url('../img/detail_staff/1.png');
	}
	.header-our-thoughts {
		.caption {
			position: absolute;
		    bottom: 0;
		    background-color: #ccc;
		    padding-left: 15px;
		    padding-bottom: 20px;
		    color: #fff;
		    background-color: rgba(50, 50, 50, .35);
		    &.left {
			    left: 0;
			    margin-right: 15px;
		    }
		    &.right {
		    	right: 0;
		    	margin-left: 15px;
		    }
		    h3 {
		    	display: inline-block;
		    	border-bottom: 1px solid #fff;
		    }
		}
		.item {
			background: #fff;
			.content {
				&.icon-right {
					padding: 20px 70px 10px 10px;
					&:before {
						margin-bottom: -15px;
						margin-right: -50px;
						content: url('../img/detail_staff/11.png');
						float: right;
					}
				}
				&.icon-left {
					padding: 20px 10px 10px 70px;
					&:before {
						margin-bottom: -15px;
						margin-left: -50px;
						content: url('../img/detail_staff/11_r.png');
						float: left;
					}
				}
			}
		}
	}
}
.header-job-list {
	color: #333;
	background: #fff;
	&.home-page {
		background: @orange;
		color: #fff;
		&:focus, &:active, &:focus:active {
			outline: none;
		}
		.list {
			background: #fff;
			color: #333;
		}
		.nano {
			.nano-content {
				padding: 10px 35px 30px 15px !important;
			}
			height: 730px;
		}
	}
	.item {
		padding: 30px 20px;
		border-bottom: 1px dotted #000;
		.title {
			.text-bold;
			font-size: @body-font-size*1.2;
		}
		.title {
			a {
				&, &:hover, &:active, &:focus {
					text-decoration: none;
				}
				&.urgent, &.new {
					color: #FF3232;
				}
			}
		}
		.text-blue {
			color: #0A93B2;
			font-style: italic;
		}
		img.date, img.view {
			margin-right: 3px;
			&.view {
				margin-left: -3px;
			}
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
#new-jobs, #new-job-detail {
	background: #F2F2F2;
	.header-search-bar {
		padding: 30px 0;
		background: url('../img/new_job/1.png') no-repeat;
		color: #fff;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		.stat {
			.text-bold;
		}
		.vertical-bar {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.pagination {
		li {
			a {
				.border-radius(4px);
				margin: 5px 10px;
				padding: 10px 15px;
				border-color: #0090B0;
				color: #0090B0;
				&.active {
					background: #0090B0;
					color: #fff;
				}
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	nav.navbar {
		li:last-child {
			display: none;
		}
	}
	.glyphicon-menu-right:first-child {
		margin-right: -7px;
	}
	.nano {
		height: 1000px;
	}
	@title-font-size: @body-font-size*1.8;
	.standout {
		background: url('../img/new_job_detail/7.png');
		line-height: @body-font-size*2;
		padding: 30px 30px;
		.title {
			color: @orange;
			font-size: @title-font-size;
			.text-bold;
		}
	}
	.detail {
		background: #fff;
		padding: 30px 30px;
		.title {
			color: #0090B0;
			font-size: @title-font-size;
			margin-bottom: 10px;
		}
		.content {
			margin-left: 30px;
			margin-bottom: 20px;
		}
	}
	ul {
		padding-left: 15px;
	}
	.actions {
		background: url('../img/new_job_detail/7.png');
		padding: 15px 30px;
		.item {
			line-height: 33px;
			height: 33px;
			color: #676767;
			.item-name {
				margin-left: 8px;
			}
		}
		border: 1px solid #C4C4C4;
	}
}
.header-top-apply {
	background: url('../img/new_job/1.png') no-repeat;
	background-size: cover;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}
#apply {
	.box {
		padding: 20px 25px;
		color: #0090B0;
		background: #fff;
		border: 1px solid #ECECEC;
	}
	label {
		text-align: left;
	}
	.btn-blue {
		padding-left: 25px;
		padding-right: 25px;
	}
	.nano {
		height: 150px;
		> .nano-pane {
			background : #0090B0;
		}
		.nano-content {
			padding: 0 0;
		}
	}
}
#global-service {
	.header-banner {
		background: url('../img/global_service/1.png') no-repeat;
		background-size: cover;
		height: 800px;
		h2:first-child {
			margin-top: 300px;
			font-size: @body-font-size*3.5;
		}
	}
	.image-wrapper {
	    position: relative;
	    cursor: pointer;
	    overflow: hidden;
		img {
		    .transition(all 300ms ease-out);
		}
		.text-wrapper {
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 15px;
		    right: 15px;
		    padding: 15px 15px;
		    background-color: #E4887D;
		    color: #fff;
		    z-index: 100;
		    .transition(all 300ms ease-out);
		    opacity: 0;
		    width: 100%;
		    height: 100%;
		    padding: 130px 20px;
		}
		&:hover {
			.text-wrapper {
		    	opacity: .9;
		    }
		}
		.overtext {
		    .transition(all 300ms ease-out);
		    transform: translateY(40px);
		    -webkit-transform: translateY(40px);
		}
		.tagline {
		    font-size: 0.8em;
		    opacity: 0;
		    transition-delay: 0.2s;
		    transition-duration: 0.2s;
		}
		.title {
			margin-top: 70px;
			margin-bottom: 10px;
		    font-size: @body-font-size*1.5;
		    text-transform: uppercase;
		    opacity: 0;
		    transition-delay: 0.1s;
		    transition-duration: 0.2s;
		}
		&:hover, &:focus {
			.title {
			    opacity: 1;
			    transform: translateY(0px);
			    -webkit-transform: translateY(0px);
			}
			.tagline {
			    opacity: 1;
			    transform: translateX(0px);
			    -webkit-transform: translateX(0px);
			}
		}
	}
	.icon-circles {
		color: #0090B0;
		.icon {
			position: relative;
			font-size: 20px;
			&.large {
				font-size: 30px;
				top: 3px;
			}
		}
	}
}
.headline-blue {
	background: #0090B0;
	color: #fff;
	padding: 15px 15px;
	font-size: @body-font-size*1.2;
}
// Carousel
.carousel-control {
	background-image: none !important;
}
.carousel-fade .carousel-inner .item {
	opacity: .3;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: .3;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}
@import 'screen-xs.less';
@import 'screen-sm.less';
@import 'screen-sm-max.less';
@import 'screen-md.less';
@import 'screen-lg.less';