body h1, html h1, body h2, html h2, body h3, html h3, body h4, html h4, body h5, html h5, body h6, html h6{
  font-family:'Arial',sans-serif !important;
}

#vffvientnam{
  position: relative;
  margin: 0;
  background-image: url("../img/vff/3.png");
  background-size: contain;
  /*background-size: auto, cover;*/
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  height: 1007px;
  text-align: center;
  color: #fff;
}

#logo {
  background: rgba(0, 0, 0, 0) url("../img/vff/2.png") no-repeat scroll center center;
  position: relative;
  box-sizing: border-box;
  height: 35%;
}
#style1{
  position: relative;
  margin: 0;
  background-image: url("../img/vff/4.png");
  /*background-size: contain;*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 217px;
  text-align: center;
  color: #fff;
}

.classic {
  font-family: "Times New Roman", Times, serif;
}
.voffset1{
  margin-top:50px
}

.voffset2{
  margin-top:1%;
}

p{
  margin:0 0 10px;

}
h3{display: inline;}


/*.row{
  margin-right:0px !important;
}*/

#vietnam{
  position: relative;
  margin: 0;
  background-image: url("../img/vff/9.png");
  background-size: cover;
  /*background-size: auto, cover;*/
  background-position: center center;
  background-repeat: no-repeat;
  height: 760px;
  text-align: center;
  color: #fff;
}
#vietnam:before {
  /*content: 'Join us our team';*/
  color: #fff;
  min-height: 100px;
  display: block;
}

#logoteam {
  background: rgba(0, 0, 0, 0) url("../img/vff/10.png") no-repeat scroll center center;
  background-size: contain;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}


#container{
  display: table;
  height:100%;
  width:100%;
}

#content {
  display: table-cell;
  vertical-align: middle;
}

#content #box{
    width:27%;
    height:15%;
    background-color:#3c8191;
    margin:0 auto;
    opacity: 0.6;
  }
#child{
  position: relative;
  transform: translateY(-5%);
  top: 50%;
}
.child{
  background: rgba(0, 0, 0, 0) url("../img/vff/11.png") center center;
  background-repeat: no-repeat;
  background-position: 3% 32%;
  padding-left: 10px;

}
.text-left{
  text-align: left;
  font-size: 170%;
}

.decoration-border {
  width: 180px;
  height: 2px;
  border-bottom: solid 1px #ffffff;
  margin: 0 auto;
}
.decoration-border.grey {
  border-color: #959595;
}
.text-color{
  color: #00aeef;
}
.text-size{
 font-size: 226%;
}
.text-margin{
  margin-top: 8%;
}

.margin-size{
  font-size: 354%
}
.margin-sizevff{
  font-size: 300%
}
.text-colorvff{
  color: #333333;
}

.text-colorimg{
  color: #bcbcbc;
}
/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
/*@media only screen and (max-width : 1200px){

}

@media only screen and (max-width : 979px){

}

@media only screen and (max-width : 767px){

}

@media only screen and (max-width : 480px){

}

*/
@media only screen and (max-width : 320px){
.container{
  width: 320px !important;
}

}
