#vffvientnam{
  position: relative;
  margin: 0;
  background-image: url("../img/vff/overlay.png"), url("../img/vff/3.png");
  background-size: auto, cover;
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  height: 1007px;
  text-align: center;
  color: #fff;
}

#logo {
  background: rgba(0, 0, 0, 0) url("../img/vff/2.png") no-repeat scroll center center;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}
#style1{
  position: relative;
  margin: 0;
  background-image: url("../img/vff/4.png");
  background-size: auto, cover;
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  height: 217px;
  text-align: center;
  color: #fff;
}

.classic {
  font-family: "Times New Roman", Times, serif;
}
.voffset1{
  margin-top:50px
}

.voffset2{
  margin-top:1%;
}

p{
  margin:0 0 10px;

}
h3{display: inline;}


.row{
  margin-right:0px !important;
}

#vietnam{
  position: relative;
  margin: 0;
  background-image: url("../img/vff/overlay.png"), url("../img/vff/9.png");
  background-size: auto, cover;
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  height: 760px;
  text-align: center;
  color: #fff;
}

#logoteam {
  background: rgba(0, 0, 0, 0) url("../img/vff/10.png") no-repeat scroll center center;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}


#container{
  display: table;
  height:100%;
  width:100%;
}

#content {
  display: table-cell;
  vertical-align: middle;
}

#content #box{
    width:27%;
    height:15%;
    background-color:#538F9D;
    margin:0 auto;
    opacity: 0.6;
  }
#child{
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
.child{
  background: rgba(0, 0, 0, 0) url("../img/vff/11.png");
  background-repeat: no-repeat;
  background-position: 8% 32%;
  padding-left: 10px;

}
.text-left{
  text-align: left;
  font-size: 150%;
}

.decoration-border {
  width: 180px;
  height: 2px;
  border-bottom: solid 1px #ffffff;
  margin: 0 auto;
}
.decoration-border.grey {
  border-color: #959595;
}
.text-color{
  color: #03A6C6;
}
.text-size{
 font-size: 226%;
}
