/* code css from here */
/*--------------------------------------------------------------------- import*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500&subset=latin,vietnamese);
@media only screen and (min-width: 1024px) {
  .header-about .container h2 {
    text-align: left !important;
  }
  .header-ceo-message .container h2 {
    text-align: left !important;
  }
  .header-apply-resume .container {
    width: 800px !important;
  }
  .header-apply-resume .container .input-form {
    padding: 50px 100px !important;
  }
  .header-find-job .list.l-col {
    width: 60% !important;
  }
  .header-find-job .list.r-col {
    width: 40% !important;
  }
  .header-info .logo {
    margin: 0 !important;
  }
}
.row-gap-small {
  height: 10px;
  display: block;
}
.row-gap-medium {
  height: 20px;
  display: block;
}
.row-gap-large {
  height: 50px;
  display: block;
}
.text-bold {
  font-weight: 700;
}
.text-underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.text-semi-bold {
  font-weight: 500;
}
.no-padding-l {
  padding-left: 0;
}
.no-padding-r {
  padding-right: 0;
}
.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}
.full-width {
  width: 100%;
}
.btn-blue {
  background: #0090B0;
  color: #fff;
  border: none;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue:focus:active {
  color: #fff;
}
.btn-blue.large {
  padding: 20px 50px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}
a.black-link {
  color: black;
}
a.black-link:hover,
a.black-link:focus,
a.black-link:active,
a.black-link:focus:active {
  color: black;
  text-decoration: none;
}
a.white-link {
  color: white;
}
a.white-link:hover,
a.white-link:focus,
a.white-link:active,
a.white-link:focus:active {
  color: white;
  text-decoration: none;
}
.pagination > li > a.white-link,
.pagination > li span,
.pagination > li > a.white-link:hover,
.pagination > li span:hover,
.pagination > li > a.white-link:focus,
.pagination > li span:focus,
.pagination > li > a.white-link:active,
.pagination > li span:active,
.pagination > li > a.white-link:focus:active,
.pagination > li span:focus:active {
  color: white;
}
body,
html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.navbar-default {
  margin-bottom: 0;
  height: auto !important;
  border-width: 0 0 1px;
}
.navbar-default .navbar-brand {
  padding: 5px 15px !important;
}
.navbar-default .navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-default ul.nav {
  margin-top: 0px !important;
}
.navbar-default li.active a {
  background: #f8f8f8 !important;
}
.navbar-default li.active a:after {
  background: #0090B0;
  width: 100%;
  height: 2px;
  display: block;
  content: '';
  position: relative;
}
.header-banner {
  min-height: 400px;
  color: #fff;
}
.header-banner .container {
  min-height: 400px;
  margin: auto auto;
  vertical-align: middle;
}
.header-banner .container h2:first-child {
  margin-top: 150px;
}
.header-join {
  background: #e2e2e2;
  padding-top: 30px;
  padding-bottom: 50px;
  background: #c8d7d7 url('../img/bg/grey-pattern.png');
}
.header-join button {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}
.header-about {
  min-height: 780px;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ffffff url('../img/bg/about-us.png') top center no-repeat;
}
.header-about .container h2 {
  font-size: 48px;
  font-weight: lighter;
  text-align: center;
}
.header-about .container p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 18px;
  text-align: justify;
}
.header-apply-resume {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url('../img/apply-resume.png') top left no-repeat;
  font-size: 22px;
}
.header-apply-resume .container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 660px;
  display: block;
}
.header-apply-resume .container .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px auto;
  width: 100%;
  height: 660px;
  background-color: #ffffff;
  opacity: 0.68;
}
.header-apply-resume .container .input-form {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px auto;
  padding: 20px;
  width: 100%;
}
.header-apply-resume .container .input-form h2 {
  text-align: center;
  color: #0090b0;
  font-size: 48px;
  font-weight: lighter;
  margin: 0px 0px 45px 0px;
}
.header-apply-resume .container .input-form label {
  font-weight: bold;
  margin-right: 10px;
}
.header-apply-resume .container .input-form label.option {
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
}
.header-apply-resume .container .input-form .blankline {
  height: 20px;
}
.header-apply-resume .container .input-form .submit {
  background-color: #ff530d;
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  padding: 10px 20px;
  margin: 0 auto;
  width: 400px;
  display: block;
}
.header-apply-resume .container .input-form .submit span.send {
  background: url('../img/icons/r-arrow-circle.png') center left no-repeat;
  width: 130px;
  height: 40px;
  padding-left: 50px;
  margin: 0 auto;
  display: block;
}
.header-apply-resume .container .input-form .filename {
  font-size: 18px;
  margin-left: 10px;
  color: #0090b0;
}
.header-apply-resume .container .input-form .submit:hover {
  text-decoration: none;
}
.header-apply-resume .container .input-form fieldset {
  border: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.header-apply-resume .container .input-form fieldset i.email {
  background: url('../img/icons/email.png') center center no-repeat;
}
.header-apply-resume .container .input-form fieldset i.user {
  background: url('../img/icons/user.png') center center no-repeat;
}
.header-apply-resume .container .input-form fieldset i.phone {
  background: url('../img/icons/phone.png') center center no-repeat;
}
.header-apply-resume .container .input-form fieldset i.radio {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
  float: left;
  background: url('../img/icons/radio-unchecked.png') top left no-repeat;
}
.header-apply-resume .container .input-form fieldset i.radio.checked {
  background: url('../img/icons/radio-checked.png') top left no-repeat;
}
.header-apply-resume .container .input-form fieldset.box {
  border: solid 2px #1f9b4c;
  margin-bottom: 10px;
}
.header-apply-resume .container .input-form fieldset.box i.icon {
  background-color: #1f9b4c;
  width: 65px;
  height: 55px;
  position: absolute;
}
.header-apply-resume .container .input-form input[type="text"] {
  background: transparent;
  width: 100%;
  height: 55px;
  font-size: 22px;
  color: #333333;
  border: none;
  padding: 10px 20px;
  padding-left: 75px;
  box-sizing: border-box;
}
.header-apply-resume .container .input-form input[type="radio"] {
  margin-right: 5px;
}
.header-apply-resume .container .input-form input[type="button"] {
  padding: 3px 30px;
  background-color: #0090b0;
  color: #ffffff;
  border: 0;
}
.header-find-job {
  padding-top: 50px;
  background: #0090b0 url('../img/bg/ocean.png');
}
.header-find-job a {
  color: #58595b;
}
.header-find-job a:hover {
  text-decoration: none;
}
.header-find-job .container {
  color: #fff;
  font-size: 16px;
}
.header-find-job .container h2 {
  text-align: center;
  color: #ffffff;
  font-size: 48px;
  font-weight: lighter;
  margin: 0px 0px 45px 0px;
}
.header-find-job .container .list .header {
  background-color: #b3e0ef;
  opacity: 0.35;
  height: 55px;
}
.header-find-job .container .list .info {
  background-color: #ffffff;
  color: #58595b;
  padding: 10px 50px;
}
.header-find-job .container .list .info h4 {
  background: url('../img/icons/arrow-next.png') no-repeat;
  background-position-x: 10px;
  background-position-y: center;
  padding-left: 30px;
  margin-left: -30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-find-job .container .list .info h4 i.highlight {
  color: #ff3232;
  font-weight: lighter;
}
.header-find-job .container .list .ads {
  background-color: #ffffff;
  color: #ffffff;
  padding: 11px 20px 11px 20px;
  position: relative;
}
.header-find-job .container .list .ads .overlay {
  background-color: #000000;
  border: solid 1px #999999;
  opacity: .3;
  width: 300px;
  height: 60px;
  position: absolute;
  top: 33px;
  left: 75px;
}
.header-find-job .container .list .ads img {
  width: 100%;
}
.header-find-job .container .list .ads h4 {
  position: absolute;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  left: 75px;
  top: 40px;
  opacity: 1;
  z-index: 10;
}
.header-find-job .container .list .ads a {
  width: 100%;
  height: 100%;
  display: block;
}
.header-find-job .container .list .odd {
  background-color: #fafafa;
}
.header-find-job .container .list h3 {
  opacity: 1;
  font-size: 26px;
  font-weight: lighter;
  width: 100%;
  margin-top: 13px;
  text-align: center;
  position: absolute;
  top: 0;
}
.header-find-job .container .list.l-col .header {
  margin-right: 5px;
}
.header-find-job .container .list.l-col .info {
  margin-right: -10px;
}
.header-find-job .container .list.l-col .see-all-job-overlay {
  border-top: solid 3px #12b0a3;
  height: 177px;
  margin-top: -177px;
  background-color: #57ccb4;
  position: relative;
  opacity: 0.85;
}
.header-find-job .container .list.l-col .see-all-job {
  text-align: center;
}
.header-find-job .container .list.l-col .see-all-job a {
  display: inline-block;
  top: -117px;
  z-index: 100;
  width: 230px;
  padding: 10px;
  background-color: #e1f5f1;
  color: #ff530d;
  border: solid 3px #1eb5a7;
  font-size: 22px;
  position: relative;
}
.header-find-job .container .list.r-col {
  margin-bottom: 20px;
}
.header-find-job .container .list.r-col .header {
  margin-left: 5px;
}
.header-find-job .container .list.r-col .space {
  background-color: #ffffff;
  margin: 0 -15px 0 -10px;
  height: 10px;
}
.header-find-job .container .list.r-col .ads {
  margin-left: -10px;
}
.header-find-job .container .list.r-col .paging {
  text-align: center;
  margin-left: -10px;
  padding: 8px 0;
  background-color: #ffffff;
}
.header-find-job .container .list.r-col .paging ul {
  display: inline-block;
  padding: 0;
  list-style: none;
}
.header-find-job .container .list.r-col .paging ul li {
  background-color: #c1c1c1;
  width: 12px;
  height: 12px;
  border-radius: 13px;
  margin: 0 3px;
  float: left;
}
.header-find-job .container .list.r-col .paging ul li.active {
  background-color: #0090b0;
}
.header-service {
  padding-top: 50px;
  background: #0090B0;
}
.header-service .container {
  color: #fff;
}
.header-environment {
  font-size: 16px;
  padding-top: 50px;
  background: #fff;
}
.header-environment img {
  margin-bottom: 5px;
}
.header-environment h2 {
  font-size: 48px;
  font-weight: lighter;
}
.header-environment .nav-pills li a {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: lighter;
}
.header-environment .nav-pills li.active a {
  margin-bottom: 0px;
}
.header-intro-movie {
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #0090b0 url('../img/bg/49.png');
  color: #fff;
}
.header-intro-movie h3 {
  font-size: 30px;
}
.header-intro-movie .content {
  line-height: 25px;
  margin-bottom: 20px;
  text-align: justify;
}
.header-ceo-message {
  font-size: 16px;
  line-height: 25px;
  background: url('../img/ceo_message/52.png') top left no-repeat;
}
.header-ceo-message h2 {
  margin: 20px 0;
  text-align: center;
}
.header-ceo-message h2 strong {
  color: #ff530d;
}
.header-ceo-message p {
  text-align: justify;
}
#new-jobs .header-job-list {
  background: transparent !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
#new-jobs .header-job-list .new {
  color: #ff3232;
}
#new-jobs .header-job-list .hot .title {
  color: #ff3232 !important;
}
#new-jobs .header-job-list .posted {
  padding-left: 25px;
  background: url('../img/new_job/4.png') 4px 0px no-repeat;
  margin-bottom: 5px;
  font-size: 12px;
}
#new-jobs .header-job-list .views {
  padding-left: 25px;
  background: url('../img/new_job/5.png') 0px 0px no-repeat;
  margin-bottom: 0px;
  font-size: 12px;
}
#new-jobs .header-job-list nav {
  text-align: center;
}
#new-jobs .header-job-list .pagination {
  margin: 10px auto;
}
#new-jobs .header-job-list .pagination li a {
  background: transparent;
}
#new-jobs .header-job-list .pagination li a span {
  color: #0090B0;
}
#new-jobs .header-job-list .nano {
  background-color: #ffffff;
  height: auto;
  max-height: 1000px;
}
#new-jobs .header-job-list .nano .nano-content {
  right: 0px !important;
  padding: 0px;
  margin: 10px 0px;
}
#new-jobs .header-job-list .nano .nano-content .item {
  padding: 15px 20px;
}
#new-jobs .header-job-list .nano .nano-content .item .title {
  color: #434343;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 0px;
}
#new-jobs .header-job-list .nano .nano-content .item .info {
  padding-right: 0px;
}
#new-jobs .header-job-list .nano .nano-content .item a:hover {
  text-decoration: none;
}
#new-jobs .header-job-list .sidebar .row {
  background-color: #ffffff;
  margin-left: 0px;
  margin-bottom: 10px;
}
#new-jobs .header-job-list .sidebar .row a:hover {
  text-decoration: none;
}
#new-jobs .header-job-list .sidebar .row img {
  width: 100%;
}
#new-jobs .header-job-list .sidebar .row h4 {
  color: #ff3232;
  font-size: 13px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
#new-jobs .header-job-list .sidebar .row .l-col {
  width: 60%;
  float: left;
}
#new-jobs .header-job-list .sidebar .row .r-col {
  width: 40%;
  float: left;
  font-size: 12px;
  padding: 10px 10px 10px 0;
}
#new-jobs .header-job-list .sidebar .row .r-col div {
  margin-bottom: 5px;
}
#new-jobs .header-job-list .sidebar .row .info {
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-job-list {
  background: #ff530d;
  color: #fff;
}
.header-job-list .btn-search {
  background: #ff530d;
  border: 3px solid #fff;
  color: #fff;
}
.header-job-list .btn-search .glyphicon-menu-right:first-child {
  margin-right: -7px;
}
.header-job-list .item-list {
  background: #fff;
  color: #000;
  padding: 50px 50px;
}
.header-job-list .item-list .status {
  color: #FE2A2A;
  font-weight: 700;
}
.header-job-list .item-list .title {
  color: #292929;
  font-weight: 700;
}
.header-job-list .item-list .item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.header-job-list .text-muted {
  color: #333;
}
.header-map {
  padding: 20px 20px;
  background-color: #e5e5e5;
}
.header-map h3 {
  margin-top: 0;
}
.header-info {
  background: #222;
  color: #fff;
}
.header-info .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.header-info .container .logo {
  margin: 0 auto;
}
.header-footer {
  color: #fff;
}
.header-footer footer {
  background: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-orange {
  background-color: #ff530d;
  color: #fff;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange:focus:active {
  color: #fff;
}
.btn-toggle {
  color: #212737;
}
.btn,
.form-control,
select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.separator {
  border-top: 1px solid #ccc;
}
.nav-pills > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #E1E1E1;
  padding: 20px 20px;
  color: #000;
}
.nav-pills > li.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-color: #fff;
  vertical-align: middle;
  border-top: 8px dashed #0091b0;
  border-top: 8px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
  margin-left: -7px;
  position: relative;
  bottom: 0px;
}
.nav-pills > li.active:before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  position: relative;
  top: 60px;
  background: #00678D;
  z-index: 999;
}
.nav-pills > li.active a,
.nav-pills > li.active a:hover,
.nav-pills > li.active a:focus,
.nav-pills > li.active a:active {
  background: #0091b0;
}
#mobile-header {
  display: none;
}
#mobile-header .navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}
#mobile-header .navbar-brand img {
  height: 40px;
}
#sidr-main .sidr-class-navbar-brand img {
  padding: 10px 10px;
  width: 100%;
  height: 100%;
}
#sidr-main button {
  background-color: #ff530d;
  color: #fff;
  width: 100%;
  border: none;
}
#sidr-main button:hover,
#sidr-main button:focus,
#sidr-main button:active,
#sidr-main button:focus:active {
  color: #fff;
}
#sidr-main .sidr-class-navbar-bars {
  display: none;
}
.sidr-open.sidr-main-open {
  position: relative;
  width: 100% !important;
  left: 0 !important;
}
/** initial setup **/
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
 > .nano-content:focus {
  outline: none;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
.nano {
  width: 100%;
  height: 520px;
}
.nano .nano-content {
  padding: 30px 0px;
}
.nano .nano-pane {
  margin: 10px 10px;
  background: #e3e3e3;
}
.nano .nano-pane .nano-slider {
  background: #fb5308;
}
#detail-staff {
  background: #F2F2F2;
}
#detail-staff .header-banner {
  background: url('../img/detail_staff/1.png');
}
#detail-staff .header-our-thoughts .caption {
  position: absolute;
  bottom: 0;
  background-color: #ccc;
  padding-left: 15px;
  padding-bottom: 20px;
  color: #fff;
  background-color: rgba(50, 50, 50, 0.35);
}
#detail-staff .header-our-thoughts .caption.left {
  left: 0;
  margin-right: 15px;
}
#detail-staff .header-our-thoughts .caption.right {
  right: 0;
  margin-left: 15px;
}
#detail-staff .header-our-thoughts .caption h3 {
  display: inline-block;
  border-bottom: 1px solid #fff;
}
#detail-staff .header-our-thoughts .item {
  background: #fff;
}
#detail-staff .header-our-thoughts .item .content.icon-right {
  padding: 20px 70px 10px 10px;
}
#detail-staff .header-our-thoughts .item .content.icon-right:before {
  margin-bottom: -15px;
  margin-right: -50px;
  content: url('../img/detail_staff/11.png');
  float: right;
}
#detail-staff .header-our-thoughts .item .content.icon-left {
  padding: 20px 10px 10px 70px;
}
#detail-staff .header-our-thoughts .item .content.icon-left:before {
  margin-bottom: -15px;
  margin-left: -50px;
  content: url('../img/detail_staff/11_r.png');
  float: left;
}
.header-job-list {
  color: #333;
  background: #fff;
}
.header-job-list.home-page {
  background: #ff530d;
  color: #fff;
}
.header-job-list.home-page:focus,
.header-job-list.home-page:active,
.header-job-list.home-page:focus:active {
  outline: none;
}
.header-job-list.home-page .list {
  background: #fff;
  color: #333;
}
.header-job-list.home-page .nano {
  height: 730px;
}
.header-job-list.home-page .nano .nano-content {
  padding: 10px 35px 30px 15px !important;
}
.header-job-list .text-blue {
  color: #0A93B2;
  font-style: italic;
  font-weight: lighter;
}
.header-job-list .item {
  padding: 30px 20px;
  border-bottom: 1px dotted #b1b1b1;
}
.header-job-list .item .title {
  font-weight: 700;
  font-size: 16.8px;
}
.header-job-list .item .title a,
.header-job-list .item .title a:hover,
.header-job-list .item .title a:active,
.header-job-list .item .title a:focus {
  text-decoration: none;
}
.header-job-list .item .title a.urgent,
.header-job-list .item .title a.new {
  color: #FF3232;
}
.header-job-list .item img.date,
.header-job-list .item img.view {
  margin-right: 3px;
}
.header-job-list .item img.date.view,
.header-job-list .item img.view.view {
  margin-left: -3px;
}
.header-job-list .item:last-child {
  border-bottom: none;
}
#new-jobs,
#new-job-detail {
  background: #F2F2F2;
}
#new-jobs .header-search-bar,
#new-job-detail .header-search-bar {
  padding: 30px 0;
  background: url('../img/new_job/1.png') no-repeat;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#new-jobs .header-search-bar .stat,
#new-job-detail .header-search-bar .stat {
  font-weight: 700;
}
#new-jobs .header-search-bar .vertical-bar,
#new-job-detail .header-search-bar .vertical-bar {
  margin-left: 10px;
  margin-right: 10px;
}
#new-jobs .header-search-bar .form-group .form-control,
#new-job-detail .header-search-bar .form-group .form-control {
  margin-bottom: 10px;
}
#new-jobs .pagination li a,
#new-job-detail .pagination li a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 5px 10px;
  padding: 10px 15px;
  border-color: #0090B0;
  color: #0090B0;
}
#new-jobs .pagination li a.active,
#new-job-detail .pagination li a.active {
  background: #0090B0;
  color: #fff;
}
#new-jobs .pagination li a:first-child,
#new-job-detail .pagination li a:first-child {
  margin-left: 0;
}
#new-jobs .pagination li span.gap,
#new-job-detail .pagination li span.gap {
  margin: 5px 10px 5px 0px;
  padding: 2px 15px 10px 15px;
  border: none;
  color: #0090B0;
  background: transparent;
  font-weight: bold;
  font-size: 20px;
}
#new-jobs nav.navbar li:last-child,
#new-job-detail nav.navbar li:last-child {
  display: none;
}
#new-jobs .glyphicon-menu-right:first-child,
#new-job-detail .glyphicon-menu-right:first-child {
  margin-right: -7px;
}
#new-jobs .nano,
#new-job-detail .nano {
  height: 1000px;
}
#new-jobs .standout,
#new-job-detail .standout {
  background: url('../img/new_job_detail/7.png');
  line-height: 28px;
  padding: 30px 30px;
}
#new-jobs .standout .title,
#new-job-detail .standout .title {
  color: #ff530d;
  font-size: 25.2px;
  font-weight: 700;
}
#new-jobs .detail,
#new-job-detail .detail {
  background: #fff;
  padding: 30px 30px;
}
#new-jobs .detail .title,
#new-job-detail .detail .title {
  color: #0090B0;
  font-size: 25.2px;
  margin-bottom: 10px;
}
#new-jobs .detail .content,
#new-job-detail .detail .content {
  margin-left: 30px;
  margin-bottom: 20px;
}
#new-jobs ul,
#new-job-detail ul {
  padding-left: 15px;
}
#new-jobs .actions,
#new-job-detail .actions {
  background: url('../img/new_job_detail/7.png');
  padding: 15px 30px;
  border: 1px solid #C4C4C4;
}
#new-jobs .actions .item,
#new-job-detail .actions .item {
  line-height: 33px;
  height: 33px;
  color: #676767;
}
#new-jobs .actions .item .item-name,
#new-job-detail .actions .item .item-name {
  margin-left: 8px;
}
.header-top-apply {
  background: url('../img/new_job/1.png') no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
#apply .box {
  padding: 20px 25px;
  color: #0090B0;
  background: #fff;
  border: 1px solid #ECECEC;
}
#apply label {
  text-align: left;
}
#apply .btn-blue {
  padding-left: 25px;
  padding-right: 25px;
}
#apply .nano {
  height: 150px;
}
#apply .nano > .nano-pane {
  background: #0090B0;
}
#apply .nano .nano-content {
  padding: 0 0;
}
#global-service .header-banner {
  background: url('../img/global_service/1.png') no-repeat;
  background-size: cover;
  height: 800px;
}
#global-service .header-banner h2:first-child {
  margin-top: 300px;
  font-size: 49px;
}
#global-service .image-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#global-service .image-wrapper img {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
#global-service .image-wrapper .text-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  padding: 15px 15px;
  background-color: #E4887D;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 130px 20px;
}
#global-service .image-wrapper:hover .text-wrapper {
  opacity: .9;
}
#global-service .image-wrapper .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}
#global-service .image-wrapper .tagline {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
#global-service .image-wrapper .title {
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 21px;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}
#global-service .image-wrapper:hover .title,
#global-service .image-wrapper:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
#global-service .image-wrapper:hover .tagline,
#global-service .image-wrapper:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}
#global-service .icon-circles {
  color: #0090B0;
}
#global-service .icon-circles .icon {
  position: relative;
  font-size: 20px;
}
#global-service .icon-circles .icon.large {
  font-size: 30px;
  top: 3px;
}
.headline-blue {
  background: #0090B0;
  color: #fff;
  padding: 15px 15px;
  font-size: 16.8px;
}
.carousel-control {
  background-image: none !important;
}
.carousel-fade .carousel-inner .item {
  opacity: .3;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: .3;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media (min-width: 480px) {
  .col-client h4 {
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  .carousel-caption {
    bottom: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .navbar.navbar-default {
    height: 120px;
  }
  .navbar.navbar-default ul {
    margin-top: 65px;
  }
}
@media only screen and (max-width: 768px) {
  #mobile-header {
    display: block;
  }
  #navigation {
    display: none;
  }
}
@media (min-width: 992px) {
  .header-our-thoughts .item {
    display: table;
  }
  .header-our-thoughts .item [class*="col-md"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
  .header-our-thoughts .item .content .photo {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-right: 70px;
  }
  .carousel-caption {
    bottom: 35%;
  }
}
@media (min-width: 1200px) {
  .navbar-brand.horizontal {
    display: block !important;
  }
  .navbar-brand.vertical {
    display: none;
  }
}
