@import url(https://fonts.googleapis.com/css?family=Roboto:700,300,500italic,900,300italic,400italic,900italic,100italic,100,500,400,700italic&subset=vietnamese,latin);
/* code css from here */
/*--------------------------------------------------------------------- import*/
.clearfix {
  clear: both;
}
/* iPhone 6 */
@media only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
  h2 {
    text-align: center;
  }
  .header-intro-movie h2 {
    font-size: 8vw !important;
    text-align: left !important;
  }
  .facebook {
    text-align: center !important;
  }
  .facebook iframe {
    width: 290px !important;
  }
  .slide-caption h1 {
    font-size: 8vw;
  }
  .slide-caption h2 {
    font-size: 6vw;
  }
  .slide-caption h3 {
    font-size: 5vw;
  }
  #carousel-captions .carousel-indicators {
    position: absolute;
    bottom: -13% !important;
  }
  #carousel-captions .carousel-indicators li {
    border-color: #000000;
  }
  #carousel-captions .carousel-indicators li.active {
    background-color: #000000;
  }
}
/* iPhone 6+ */
@media screen and (min-device-width: 414px) and (-webkit-device-pixel-ratio: 3) {
  .facebook {
    text-align: center !important;
  }
  .facebook iframe {
    width: 320px !important;
  }
}
@media only screen and (min-width: 800px) {
  h2 {
    font-size: 48px !important;
    font-weight: 400;
  }
  .header-about .container h2 {
    text-align: left !important;
  }
  .header-ceo-message .container h2 {
    font-family: 'Roboto', sans-serif;
    text-align: left !important;
  }
  .header-ceo-message .container img#ceo-picture {
    width: 428px !important;
    position: relative;
    left: -113px !important;
    margin-bottom: 0px;
  }
  .header-apply-resume .container {
    width: 800px !important;
  }
  .header-apply-resume .container .input-form {
    width: 650px !important;
    padding: 20px !important;
    float: none !important;
  }
  .header-find-job .list.l-col {
    width: 60% !important;
    padding-right: 25px;
  }
  .header-find-job .list.r-col {
    width: 40% !important;
  }
  .header-find-job .list.r-col .block-content {
    background-color: #ffffff;
  }
  .header-find-job .list.r-col .ads h4 {
    top: 20% !important;
    font-size: 24px !important;
  }
  .header-info .logo {
    margin: 0 !important;
  }
  .header-environment .nav-pills li a {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
  }
  .header-environment .nav-pills li.active:before {
    display: block !important;
  }
  .header-environment .nav-pills li.active:after {
    display: block !important;
  }
  .header-intro-movie h2 {
    font-size: 48px !important;
  }
  #carousel-captions .carousel-indicators {
    position: absolute;
    bottom: 10% !important;
  }
  #carousel-captions .carousel-indicators li {
    border-color: #ffffff !important;
  }
  #carousel-captions .carousel-indicators li.active {
    background-color: #ffffff !important;
  }
  .slide-caption h1 {
    font-size: 3vw !important;
  }
  .slide-caption h2 {
    font-size: 2.5vw !important;
  }
  .slide-caption h3 {
    font-size: 2vw !important;
  }
}
@media only screen and (max-width: 400px) {
  h2 {
    font-size: 8vw !important;
  }
  .slide-caption h1 {
    font-size: 8vw !important;
  }
  .slide-caption h2 {
    font-size: 6vw !important;
  }
  .slide-caption h3 {
    font-size: 5vw !important;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    text-align: center !important;
  }
  .header-apply-resume {
    background-image: url('../img/apply-resume-800x2400.png') !important;
  }
}
.input-lg {
  padding: 5px 16px;
  height: 37px !important;
}
.has-feedback label.error {
  position: absolute;
  top: 0px;
  right: 0px;
}
.row-gap-small {
  height: 10px;
  display: block;
}
.row-gap-medium {
  height: 20px;
  display: block;
}
.row-gap-large {
  height: 50px;
  display: block;
}
.text-bold {
  font-weight: 700;
}
.text-underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.text-semi-bold {
  font-weight: 500;
}
.no-padding-l {
  padding-left: 0;
}
.no-padding-r {
  padding-right: 0;
}
.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}
.full-width {
  width: 100%;
}
.btn-blue {
  background: #0090B0;
  color: #fff;
  border: none;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue:focus:active {
  color: #fff;
}
.btn-blue.large {
  padding: 20px 50px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}
a.black-link {
  color: black;
}
a.black-link:hover,
a.black-link:focus,
a.black-link:active,
a.black-link:focus:active {
  color: black;
  text-decoration: none;
}
a.white-link {
  color: white;
}
a.white-link:hover,
a.white-link:focus,
a.white-link:active,
a.white-link:focus:active {
  color: white;
  text-decoration: none;
}
.text-blue {
  color: #0A93B2;
}
.bg-white {
  background-color: #ffffff;
}
.slide-caption {
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  /* IE 9 */
  -webkit-transform: translateY(-50%);
  /* Chrome, Safari, Opera */
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  color: #ffffff;
}
#carousel-captions {
  height: 100%;
}
#carousel-captions .item {
  background-size: cover !important;
  text-align: center !important;
  height: 100%;
}
#carousel-captions .item img {
  margin: 0 auto !important;
}
.pagination > li > a.white-link,
.pagination > li span,
.pagination > li > a.white-link:hover,
.pagination > li span:hover,
.pagination > li > a.white-link:focus,
.pagination > li span:focus,
.pagination > li > a.white-link:active,
.pagination > li span:active,
.pagination > li > a.white-link:focus:active,
.pagination > li span:focus:active {
  color: white;
}
.float-right {
  float: right !important;
}
body,
html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
body h1,
html h1,
body h2,
html h2,
body h3,
html h3,
body h4,
html h4,
body h5,
html h5,
body h6,
html h6 {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h2 {
  font-size: 48px;
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
.navbar-default {
  margin-bottom: 0;
  height: auto !important;
  border-width: 0 0 1px;
}
.navbar-default .navbar-brand {
  padding: 5px 15px !important;
}
.navbar-default .navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-default ul.nav {
  margin-top: 0px !important;
}
.navbar-default li.active a {
  background: #f8f8f8 !important;
}
.navbar-default li.active a:after {
  background: #0090B0;
  width: 100%;
  height: 2px;
  display: block;
  content: '';
  position: relative;
}
.header-banner {
  min-height: 400px;
  color: #fff;
}
.header-banner .container {
  min-height: 400px;
  margin: auto auto;
  vertical-align: middle;
}
.header-banner .container h2:first-child {
  margin-top: 150px;
}
.header-join {
  background: #e2e2e2;
  padding-top: 40px;
  padding-bottom: 60px;
  background: #c8d7d7 url('../img/bg/grey-pattern.png');
}
.header-join button {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}
.header-about {
  min-height: 580px;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #ffffff url('../img/bg/about-us.png') top center no-repeat;
}
.header-about .container p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 18px;
  text-align: justify;
}
.header-apply-resume .submit,
#new-job-detail .submit,
#new-job-company .submit {
  background-color: #ff530d;
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  float: none;
}
.header-apply-resume .submit span.send,
#new-job-detail .submit span.send,
#new-job-company .submit span.send {
  background: url('../img/icons/r-arrow-circle.png') center left no-repeat;
  width: 130px;
  height: 40px;
  padding-left: 50px;
  margin: 0 auto;
  display: block;
}
.header-apply-resume .submit:hover,
#new-job-detail .submit:hover,
#new-job-company .submit:hover {
  background-color: #ff733a;
  text-decoration: none;
}
.header-apply-resume {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url('../img/apply-resume.png') fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  font-size: 18px;
}
.header-apply-resume .container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 700px;
  display: block;
}
.header-apply-resume .container .input-form {
  /*position: absolute;*/
  top: 0px;
  left: 0px;
  margin: 0px auto;
  padding: 20px;
  width: 100%;
  background: url('../img/bg/bg1px-white.png');
}
.header-apply-resume .container .input-form h2 {
  text-align: center;
  color: #0090b0;
  /* margin: 0px 0px 25px 0px; */
}
.header-apply-resume .container .input-form label {
  font-weight: bold;
  margin-right: 10px;
}
.header-apply-resume .container .input-form label.option {
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
}
.header-apply-resume .container .input-form .blankline {
  height: 20px;
}
.header-apply-resume .container .input-form .filename {
  font-size: 18px;
  margin-left: 10px;
  color: #0090b0;
}
.header-apply-resume .container .input-form .submit:hover {
  text-decoration: none;
}
.header-apply-resume .container .input-form fieldset {
  width: 90%;
  border: 0;
  margin: 15px auto;
}
.header-apply-resume .container .input-form fieldset i.email {
  background: url('../img/icons/email.png') center center no-repeat;
}
.header-apply-resume .container .input-form fieldset i.user {
  background: url('../img/icons/user.png') center center no-repeat;
}
.header-apply-resume .container .input-form fieldset i.phone {
  background: url('../img/icons/phone.png') center center no-repeat;
}
.header-apply-resume .container .input-form fieldset i.radio {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
  float: left;
  background: url('../img/icons/radio-unchecked.png') top left no-repeat;
}
.header-apply-resume .container .input-form fieldset i.radio.checked {
  background: url('../img/icons/radio-checked.png') top left no-repeat;
}
.header-apply-resume .container .input-form fieldset .glyphicon {
  top: 3px;
}
.header-apply-resume .container .input-form fieldset.box {
  border: solid 2px #1f9b4c;
  margin-bottom: 10px;
}
.header-apply-resume .container .input-form fieldset.box i.icon {
  background-color: #1f9b4c;
  width: 65px;
  height: 55px;
  position: absolute;
}
.header-apply-resume .container .input-form input[type="text"] {
  /* background: transparent; */
  /* width: 100%; */
  /* height: 55px; */
  /* font-size: 22px; */
  color: #333333;
  /* border: none; */
  /* padding: 10px 20px; */
  /* padding-left: 75px; */
  /* box-sizing: border-box; */
}
.header-apply-resume .container .input-form input[type="file"] {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0;
  background: transparent;
  box-shadow: none;
}
.header-apply-resume .container .input-form input[type="radio"] {
  margin-right: 5px;
}
.header-apply-resume .container .input-form input[type="button"] {
  padding: 3px 30px;
  background-color: #0090b0;
  color: #ffffff;
  border: 0;
}
.header-find-job {
  padding-top: 50px;
  background: #0090b0 url('../img/bg/ocean.png');
}
.header-find-job a {
  color: #58595b;
}
.header-find-job a:hover {
  text-decoration: none;
}
.header-find-job .container {
  color: #fff;
  font-size: 16px;
}
.header-find-job .container h2 {
  text-align: center;
  color: #ffffff;
  font-size: 48px;
  margin: 0px 0px 45px 0px;
}
.header-find-job .container .list .header {
  background-color: #b3e0ef;
  opacity: 0.35;
  height: 55px;
}
.header-find-job .container .list .info {
  background-color: #ffffff;
  color: #58595b;
  padding: 10px 50px;
}
.header-find-job .container .list .info h4 {
  background: url('../img/icons/arrow-next.png') no-repeat;
  background-position-x: 10px;
  background-position-y: center;
  padding-left: 30px;
  margin-left: -30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-find-job .container .list .info h4 i.highlight {
  color: #ff3232;
  font-weight: lighter;
}
.header-find-job .container .list .block-content {
  background-color: #ffffff;
}
.header-find-job .container .list .ads {
  color: #ffffff;
  padding: 11px 20px 11px 20px;
  position: relative;
}
.header-find-job .container .list .ads .overlay {
  background-color: #000000;
  border: solid 1px #999999;
  opacity: .3;
  width: 80%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 10%;
}
.header-find-job .container .list .ads img {
  width: 100%;
}
.header-find-job .container .list .ads h4 {
  position: absolute;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  left: 10%;
  top: 25%;
  opacity: 1;
  z-index: 10;
  font-size: 4vw;
}
.header-find-job .container .list .ads h4 .subtitle {
  font-size: 0.8em;
}
.header-find-job .container .list .ads a {
  width: 100%;
  height: 100%;
  display: block;
}
.header-find-job .container .list .odd {
  background-color: #fafafa;
}
.header-find-job .container .list h3 {
  opacity: 1;
  font-size: 26px;
  width: 100%;
  margin-top: 13px;
  text-align: center;
  position: absolute;
  top: 0;
}
.header-find-job .container .list.l-col .header {
  margin-right: 5px;
}
.header-find-job .container .list.l-col .info {
  margin-right: -10px;
}
.header-find-job .container .list.l-col .see-all-job-overlay {
  height: 200px;
  margin-top: -200px;
  background-color: #ffffff;
  position: relative;
  opacity: 0.85;
}
.header-find-job .container .list.l-col .see-all-job {
  text-align: center;
}
.header-find-job .container .list.l-col .see-all-job a {
  display: inline-block;
  top: -117px;
  z-index: 100;
  width: 230px;
  padding: 10px;
  background-color: #ff530d;
  color: #ffffff;
  font-size: 22px;
  position: relative;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.header-find-job .container .list.l-col .see-all-job a:hover {
  background-color: #ff733a !important;
}
.header-find-job .container .list.r-col {
  margin-bottom: 20px;
}
.header-find-job .container .list.r-col .header {
  /*margin-left: 5px;*/
}
.header-find-job .container .list.r-col .space {
  background-color: #ffffff;
  margin: 0 -15px;
  height: 10px;
}
.header-find-job .container .list.r-col .ads {
  /* margin-left: -10px; */
}
.header-find-job .container .list.r-col .paging {
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px 0;
  background-color: #ffffff;
}
.header-find-job .container .list.r-col .paging ul {
  display: inline-block;
  padding: 0;
  list-style: none;
}
.header-find-job .container .list.r-col .paging ul li {
  background-color: #c1c1c1;
  width: 12px;
  height: 12px;
  border-radius: 13px;
  margin: 0 3px;
  float: left;
}
.header-find-job .container .list.r-col .paging ul li.active {
  background-color: #0090b0 !important;
}
.header-service {
  padding-top: 50px;
  background: #0090B0;
}
.header-service .container {
  color: #fff;
}
.header-environment {
  font-size: 16px;
  padding-top: 50px;
  background: #fff;
}
.header-environment img {
  margin-bottom: 5px;
}
.header-environment h2 {
  font-size: 48px;
}
.header-environment .nav-pills li a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
}
.header-environment .nav-pills li.active {
  margin-bottom: 5px;
}
.header-environment .nav-pills li.active a {
  margin-bottom: 0px;
}
.header-environment .nav-pills li.active:before {
  display: none;
}
.header-environment .gallery-all .row:hover {
  opacity: 0.5;
}
.header-work-environment {
  background-color: #ffffff;
}
.header-work-environment h1 {
  font-size: 48px;
  font-weight: 400;
  padding: 60px 0;
  margin-top: 0px;
  margin-bottom: 0px;
  background: #0090b0 url('../img/bg/ocean.png');
  color: #ffffff;
}
.header-work-environment h2 {
  font-size: 48px;
  margin: 40px 0;
}
.header-work-environment h3 {
  margin-top: 10px;
}
.header-work-environment .container .col-xs-6 {
  margin-bottom: 30px;
  min-height: 500px;
  overflow: hidden;
}
.header-intro-movie {
  /*
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #0090B0 url('../img/bg/49.png');
  color: #fff;
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 30px;
  }
  .content {
    line-height: 25px;
    margin-bottom: 20px;
    text-align: justify;
  }
  .video-container {
    min-height: 300px;
  }
  */
}
.header-intro-movie video {
  width: 100%;
}
.header-ceo-message {
  font-size: 16px;
  line-height: 25px;
  background: #ffffff url('../img/ceo_message/52.png') top left no-repeat;
  background-size: cover;
}
.header-ceo-message h2 {
  margin: 20px 0;
  text-align: center;
}
.header-ceo-message h2 strong {
  color: #ff530d;
}
.header-ceo-message p {
  text-align: justify;
}
.header-ceo-message .container .bg-white {
  margin-bottom: 10px;
}
.header-ceo-message .container img#ceo-picture {
  width: 200px;
  position: relative;
  left: -15px;
  margin-bottom: 0px;
  z-index: 100;
}
.header-ceo-message .container img#ceo-signature {
  width: 200px;
  right: 10px;
  position: relative;
}
#new-jobs .header-job-list {
  background: transparent !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
#new-jobs .header-job-list .new {
  color: #ff3232;
}
#new-jobs .header-job-list .hot .title {
  color: #ff3232 !important;
}
#new-jobs .header-job-list .posted {
  padding-left: 25px;
  background: url('../img/new_job/4.png') 4px 0px no-repeat;
  margin-bottom: 5px;
  font-size: 12px;
}
#new-jobs .header-job-list .views {
  padding-left: 25px;
  background: url('../img/new_job/5.png') 0px 0px no-repeat;
  margin-bottom: 0px;
  font-size: 12px;
}
#new-jobs .header-job-list nav {
  text-align: center;
}
#new-jobs .header-job-list .pagination {
  margin: 10px auto;
}
#new-jobs .header-job-list .pagination li a {
  background: transparent;
}
#new-jobs .header-job-list .pagination li a span {
  color: #0090B0;
}
#new-jobs .header-job-list .list-detail {
  background-color: #ffffff;
  height: auto;
}
#new-jobs .header-job-list .list-detail .list-detail-content {
  right: 0px !important;
  padding: 0px;
  margin: 0px;
}
#new-jobs .header-job-list .list-detail .list-detail-content .item {
  padding: 15px 20px;
  margin-left: 0px;
  margin-right: 0px;
}
#new-jobs .header-job-list .list-detail .list-detail-content .item .title {
  color: #434343;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 0px;
}
#new-jobs .header-job-list .list-detail .list-detail-content .item .info {
  padding-right: 0px;
}
#new-jobs .header-job-list .list-detail .list-detail-content .item a:hover {
  text-decoration: none;
}
#new-jobs .header-job-list .sidebar .row {
  background-color: #ffffff;
  margin-left: 0px;
  margin-bottom: 10px;
}
#new-jobs .header-job-list .sidebar .row a:hover {
  text-decoration: none;
}
#new-jobs .header-job-list .sidebar .row img {
  width: 100%;
}
#new-jobs .header-job-list .sidebar .row h4 {
  color: #ff3232;
  font-size: 13px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
#new-jobs .header-job-list .sidebar .row .l-col {
  width: 60%;
  float: left;
}
#new-jobs .header-job-list .sidebar .row .r-col {
  width: 40%;
  float: left;
  font-size: 12px;
  padding: 10px 10px 10px 0;
}
#new-jobs .header-job-list .sidebar .row .r-col div {
  margin-bottom: 5px;
}
#new-jobs .header-job-list .sidebar .row .info {
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-job-list {
  background: #ff530d;
  color: #fff;
}
.header-job-list .btn-search {
  background: #ff530d;
  border: 3px solid #fff;
  color: #fff;
}
.header-job-list .btn-search .glyphicon-menu-right:first-child {
  margin-right: -7px;
}
.header-job-list .item-list {
  background: #fff;
  color: #000;
  padding: 50px 50px;
}
.header-job-list .item-list .status {
  color: #FE2A2A;
  font-weight: 700;
}
.header-job-list .item-list .title {
  color: #292929;
  font-weight: 700;
}
.header-job-list .item-list .item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.header-job-list .text-muted {
  color: #333;
}
.header-job-list .paging {
  text-align: center;
  margin-left: 0px;
  padding: 8px 0;
  background-color: #ffffff;
}
.header-job-list .paging ul {
  display: inline-block;
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}
.header-job-list .paging ul li {
  background-color: #c1c1c1;
  width: 12px;
  height: 12px;
  border-radius: 13px;
  margin: 0 3px;
  float: left;
}
.header-job-list .paging ul li.active {
  background-color: #0090b0;
}
.paging li {
  cursor: pointer;
}
.header-map {
  padding: 20px 20px;
  background-color: #e5e5e5;
}
.header-map h3 {
  margin-top: 0;
}
.header-info {
  background: #222;
  color: #fff;
}
.header-info .container {
  padding-top: 50px;
}
.header-info .container .logo {
  margin: 0 auto;
}
.header-footer {
  color: #fff;
}
.header-footer footer {
  background: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-orange {
  background-color: #ff530d;
  color: #fff;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange:focus:active {
  background-color: #ff733a !important;
  color: #fff;
}
.btn-toggle {
  color: #212737;
}
.btn,
.form-control,
select {
  /* .border-radius(0); */
}
.separator {
  border-top: 1px solid #ccc;
}
.nav-pills > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #E1E1E1;
  padding: 20px 20px;
  color: #000;
}
.nav-pills > li.active:after {
  content: '';
  display: none;
  width: 0;
  height: 0;
  border-color: #fff;
  vertical-align: middle;
  border-top: 8px dashed #0091b0;
  border-top: 8px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
  margin-left: -7px;
  position: relative;
  bottom: 0px;
}
.nav-pills > li.active:before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  position: relative;
  top: 60px;
  background: #00678D;
  z-index: 999;
}
.nav-pills > li.active a,
.nav-pills > li.active a:hover,
.nav-pills > li.active a:focus,
.nav-pills > li.active a:active {
  background: #0091b0;
}
#mobile-header {
  display: none;
}
#mobile-header .navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}
#mobile-header .navbar-brand img {
  width: 240px;
  margin-top: 6px;
}
#sidr-main .sidr-class-navbar-brand img {
  padding: 10px 10px;
  width: 100%;
  height: 100%;
}
#sidr-main button {
  background-color: #ff530d;
  color: #fff;
  width: 100%;
  border: none;
}
#sidr-main button:hover,
#sidr-main button:focus,
#sidr-main button:active,
#sidr-main button:focus:active {
  background-color: #ff733a !important;
  color: #fff;
}
#sidr-main .sidr-class-navbar-bars {
  display: none;
}
.sidr-open.sidr-main-open {
  position: relative;
  width: 100% !important;
  left: 0 !important;
}
/** initial setup **/
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
 > .nano-content:focus {
  outline: none;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
.nano {
  width: 100%;
  height: 520px;
}
.nano .nano-content {
  padding: 30px 0px;
}
.nano .nano-pane {
  margin: 10px 10px;
  background: #e3e3e3;
}
.nano .nano-pane .nano-slider {
  background: #0090B0;
}
.apply-form-modal .form-group {
  margin-left: 0px;
}
.apply-form-modal .box-content {
  height: 200px;
  overflow: auto;
}
.apply-form-modal .btn {
  font-size: 24px;
}
#detail-staff {
  background: #F2F2F2;
}
#detail-staff .header-banner {
  background: url('../img/detail_staff/1.png');
}
#detail-staff .header-our-thoughts .caption {
  position: absolute;
  bottom: 0;
  background-color: #ccc;
  padding-left: 15px;
  padding-bottom: 20px;
  color: #fff;
  background-color: rgba(50, 50, 50, 0.35);
}
#detail-staff .header-our-thoughts .caption.left {
  left: 0;
  margin-right: 15px;
}
#detail-staff .header-our-thoughts .caption.right {
  right: 0;
  margin-left: 15px;
}
#detail-staff .header-our-thoughts .caption h3 {
  display: inline-block;
  border-bottom: 1px solid #fff;
}
#detail-staff .header-our-thoughts .item {
  background: #fff;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}
#detail-staff .header-our-thoughts .item .avatar {
  padding: 0px;
}
#detail-staff .header-our-thoughts .item.left-alignment .avatar {
  float: left;
}
#detail-staff .header-our-thoughts .item.left-alignment .content {
  padding: 20px 70px 10px 10px;
  float: right;
}
#detail-staff .header-our-thoughts .item.left-alignment .content:before {
  margin-bottom: -15px;
  margin-right: -50px;
  content: url('../img/detail_staff/11.png');
  float: right;
}
#detail-staff .header-our-thoughts .item.right-alignment .avatar {
  float: right;
}
#detail-staff .header-our-thoughts .item.right-alignment .content {
  padding: 20px 10px 10px 70px;
  float: left;
}
#detail-staff .header-our-thoughts .item.right-alignment .content:before {
  margin-bottom: -15px;
  margin-left: -50px;
  content: url('../img/detail_staff/11_r.png');
  float: left;
}
.header-job-list {
  color: #333;
  background: #fff;
}
.header-job-list.home-page {
  background: #ff530d;
  color: #fff;
}
.header-job-list.home-page:focus,
.header-job-list.home-page:active,
.header-job-list.home-page:focus:active {
  outline: none;
}
.header-job-list.home-page .list {
  background: #fff;
  color: #333;
}
.header-job-list.home-page .nano {
  height: 730px;
}
.header-job-list.home-page .nano .nano-content {
  padding: 10px 35px 30px 15px !important;
}
.header-job-list .text-blue {
  color: #0A93B2;
  font-style: italic;
  font-weight: lighter;
}
.header-job-list .content .item {
  padding: 30px 20px;
  border-bottom: 1px dotted #b1b1b1;
}
.header-job-list .content .item .title {
  font-weight: 700;
  font-size: 16.8px;
}
.header-job-list .content .item .title a,
.header-job-list .content .item .title a:hover,
.header-job-list .content .item .title a:active,
.header-job-list .content .item .title a:focus {
  text-decoration: none;
}
.header-job-list .content .item .title a.urgent,
.header-job-list .content .item .title a.new {
  color: #FF3232;
}
.header-job-list .content .item img.date,
.header-job-list .content .item img.view {
  margin-right: 3px;
}
.header-job-list .content .item img.date.view,
.header-job-list .content .item img.view.view {
  margin-left: -3px;
}
.header-job-list .content .item:last-child {
  border-bottom: none;
}
.header-job-list .sidebar .row {
  margin-right: 0px;
}
.header-job-list .sidebar .carousel-indicators {
  position: static;
  bottom: 10px;
  left: 0;
  width: auto;
  padding-left: 0;
  margin-left: 0;
}
#new-jobs,
#new-job-detail,
#new-job-company {
  background: #F2F2F2;
}
#new-jobs .header-banner img,
#new-job-detail .header-banner img,
#new-job-company .header-banner img {
  width: 100%;
}
#new-jobs .greybar,
#new-job-detail .greybar,
#new-job-company .greybar {
  height: 88px;
  background-color: #dedede;
}
#new-jobs .header-search-bar,
#new-job-detail .header-search-bar,
#new-job-company .header-search-bar {
  padding: 30px 0;
  background: url('../img/new_job/1.png') no-repeat;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#new-jobs .header-search-bar .stat,
#new-job-detail .header-search-bar .stat,
#new-job-company .header-search-bar .stat {
  font-weight: 700;
}
#new-jobs .header-search-bar .vertical-bar,
#new-job-detail .header-search-bar .vertical-bar,
#new-job-company .header-search-bar .vertical-bar {
  margin-left: 10px;
  margin-right: 10px;
}
#new-jobs .header-search-bar .form-group .form-control,
#new-job-detail .header-search-bar .form-group .form-control,
#new-job-company .header-search-bar .form-group .form-control {
  margin-bottom: 10px;
}
#new-jobs .pagination li a,
#new-job-detail .pagination li a,
#new-job-company .pagination li a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 5px 10px;
  padding: 10px 15px;
  border-color: #0090B0;
  color: #0090B0;
}
#new-jobs .pagination li a.active,
#new-job-detail .pagination li a.active,
#new-job-company .pagination li a.active {
  background: #0090B0;
  color: #fff;
}
#new-jobs .pagination li a:first-child,
#new-job-detail .pagination li a:first-child,
#new-job-company .pagination li a:first-child {
  margin-left: 0;
}
#new-jobs .pagination li span.gap,
#new-job-detail .pagination li span.gap,
#new-job-company .pagination li span.gap {
  margin: 5px 10px 5px 0px;
  padding: 2px 15px 10px 15px;
  border: none;
  color: #0090B0;
  background: transparent;
  font-weight: bold;
  font-size: 20px;
}
#new-jobs nav.navbar li:last-child,
#new-job-detail nav.navbar li:last-child,
#new-job-company nav.navbar li:last-child {
  display: none;
}
#new-jobs .glyphicon-menu-right:first-child,
#new-job-detail .glyphicon-menu-right:first-child,
#new-job-company .glyphicon-menu-right:first-child {
  margin-right: -7px;
}
#new-jobs .nano,
#new-job-detail .nano,
#new-job-company .nano {
  height: 1000px;
}
#new-jobs .standout,
#new-job-detail .standout,
#new-job-company .standout {
  background: url('../img/new_job_detail/7.png');
  line-height: 28px;
  padding: 30px 30px;
}
#new-jobs .standout .title,
#new-job-detail .standout .title,
#new-job-company .standout .title {
  color: #ff530d;
  font-size: 25.2px;
  font-weight: 700;
}
#new-jobs .detail,
#new-job-detail .detail,
#new-job-company .detail {
  background: #fff;
  padding: 30px 30px;
}
#new-jobs .detail .title,
#new-job-detail .detail .title,
#new-job-company .detail .title {
  color: #0090B0;
  font-size: 25.2px;
  margin-bottom: 10px;
}
#new-jobs .detail .content,
#new-job-detail .detail .content,
#new-job-company .detail .content {
  margin-left: 30px;
  margin-bottom: 20px;
}
#new-jobs ul,
#new-job-detail ul,
#new-job-company ul {
  padding-left: 15px;
}
#new-jobs .actions,
#new-job-detail .actions,
#new-job-company .actions {
  background: url('../img/new_job_detail/7.png');
  padding: 15px 30px;
  border: 1px solid #C4C4C4;
}
#new-jobs .actions .item,
#new-job-detail .actions .item,
#new-job-company .actions .item {
  line-height: 33px;
  height: 33px;
  color: #676767;
}
#new-jobs .actions .item .item-name,
#new-job-detail .actions .item .item-name,
#new-job-company .actions .item .item-name {
  margin-left: 8px;
}
#new-job-detail .lab-pictures,
#new-job-company .lab-pictures {
  border-top: 1px dotted #dedede !important;
  border-bottom: 1px  dotted #dedede !important;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
#new-job-detail .end-lab-info,
#new-job-company .end-lab-info {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}
#new-job-detail .end-job-info,
#new-job-company .end-job-info {
  padding-top: 50px;
  padding-bottom: 50px;
}
#new-job-detail .header-banner,
#new-job-company .header-banner {
  min-height: 0 !important;
}
#new-job-detail .header-banner .overlay,
#new-job-company .header-banner .overlay {
  height: 80px !important;
  min-height: 80px !important;
  margin-top: -80px;
}
#new-job-detail .header-banner .overlay div.info,
#new-job-company .header-banner .overlay div.info {
  width: 100%;
  height: 100%;
  background: url('../img/bg/bg1px.png');
  position: relative;
}
#new-job-detail .header-banner .overlay div.info h2,
#new-job-company .header-banner .overlay div.info h2 {
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  top: 50%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.header-top-apply {
  background: url('../img/new_job/1.png') no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-top-apply h2 {
  font-size: 48px;
}
.header-top-apply label {
  font-weight: bold;
  margin-right: 10px;
}
.header-top-apply label.option {
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
}
.header-top-apply .blankline {
  height: 20px;
}
.header-top-apply .filename {
  font-size: 18px;
  margin-left: 10px;
  color: #0090b0;
}
.header-top-apply .submit:hover {
  text-decoration: none;
}
#apply {
  font-size: 22px;
}
#apply .input-form {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}
#apply .input-form fieldset {
  border: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
#apply .input-form fieldset.box {
  border: solid 2px #1f9b4c;
  margin-bottom: 10px;
  margin-top: 15px;
}
#apply .input-form fieldset.box i.icon {
  background-color: #1f9b4c !important;
  width: 65px;
  height: 55px;
  position: absolute;
}
#apply .input-form fieldset.box i.email {
  background: url('../img/icons/email.png') center center no-repeat;
}
#apply .input-form fieldset.box i.user {
  background: url('../img/icons/user.png') center center no-repeat;
}
#apply .input-form fieldset.box i.phone {
  background: url('../img/icons/phone.png') center center no-repeat;
}
#apply .input-form .radiogroup i.radio {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
  float: left;
  background: url('../img/icons/radio-unchecked.png') top left no-repeat;
}
#apply .input-form .radiogroup i.radio.checked {
  background: url('../img/icons/radio-checked.png') top left no-repeat;
}
#apply .input-form label {
  font-weight: bold;
  margin-right: 10px;
}
#apply .input-form label.option {
  font-weight: normal;
  margin-left: 0px;
  margin-right: 40px;
}
#apply .input-form .blankline {
  height: 20px;
}
#apply .input-form .filename {
  font-size: 18px;
  margin-left: 10px;
  color: #0090b0;
}
#apply .input-form .submit {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  background-color: #ff530d;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  float: none;
}
#apply .input-form .submit:hover {
  text-decoration: none;
}
#apply .input-form input[type="text"] {
  background: transparent;
  width: 100%;
  height: 55px;
  font-size: 22px;
  color: #333333;
  border: none;
  padding: 10px 20px;
  padding-left: 75px;
  box-sizing: border-box;
}
#apply .input-form input[type="radio"] {
  margin-right: 5px;
}
#apply .input-form input[type="button"] {
  padding: 3px 30px;
  background-color: #0090b0;
  color: #ffffff;
  border: 0;
}
#apply .input-form input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  margin-right: 10px;
  position: relative;
  left: 5px;
}
#apply div.box {
  padding: 20px 25px;
  color: #0090B0;
  background: #fff;
  border: 1px solid #ECECEC;
}
#apply label {
  text-align: left;
}
#apply .btn-blue {
  padding-left: 25px;
  padding-right: 25px;
}
#apply .nano {
  height: 150px;
}
#apply .nano > .nano-pane {
  background: #e4e4e4;
}
#apply .nano .nano-content {
  padding: 10px;
}
#global-service .header-banner {
  background: url('../img/global_service/1.png') no-repeat;
  background-size: cover;
  height: 800px;
}
#global-service .header-banner h2:first-child {
  margin-top: 300px;
  font-size: 49px;
}
#global-service .image-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#global-service .image-wrapper img {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
#global-service .image-wrapper .text-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  padding: 15px 15px;
  background-color: #E4887D;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 130px 20px;
}
#global-service .image-wrapper:hover .text-wrapper {
  opacity: .9;
}
#global-service .image-wrapper .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}
#global-service .image-wrapper .tagline {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
#global-service .image-wrapper .title {
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 21px;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}
#global-service .image-wrapper:hover .title,
#global-service .image-wrapper:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
#global-service .image-wrapper:hover .tagline,
#global-service .image-wrapper:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}
#global-service .icon-circles {
  color: #0090B0;
}
#global-service .icon-circles .icon {
  position: relative;
  font-size: 20px;
}
#global-service .icon-circles .icon.large {
  font-size: 30px;
  top: 3px;
}
.headline-blue {
  background: #0090B0;
  color: #fff;
  padding: 15px 15px;
  font-size: 16.8px;
}
.carousel-control {
  background-image: none !important;
}
#carousel-captions .carousel-inner .item {
  opacity: .3;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
#carousel-captions .carousel-inner .item img {
  margin: 0 auto;
}
#carousel-captions .carousel-inner .item .mask {
  width: 100%;
  background: url('../img/bg/grid.png');
  z-index: 10;
  position: absolute;
}
#carousel-captions .carousel-inner .active {
  opacity: 1;
}
#carousel-captions .carousel-inner .active.left,
#carousel-captions .carousel-inner .active.right {
  left: 0;
  opacity: .3;
  z-index: 1;
}
#carousel-captions .carousel-inner .next.left,
#carousel-captions .carousel-inner .prev.right {
  opacity: 1;
}
#carousel-captions .carousel-control {
  z-index: 2;
}
#labs-carousel .carousel-indicators {
  position: static;
  margin-left: 0px;
  width: auto;
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.vertical .carousel-inner {
  /* height: 100%; */
}
.carousel.vertical:not(.carousel-fade) .item {
  left: 0;
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}
.carousel.vertical:not(.carousel-fade)  .active {
  top: 0;
}
.carousel.vertical:not(.carousel-fade)  .active.left {
  top: -100%;
}
.carousel.vertical:not(.carousel-fade)  .active.right {
  top: 100%;
}
.carousel.vertical:not(.carousel-fade) .next {
  top: 100%;
}
.carousel.vertical:not(.carousel-fade) .next.left {
  top: 0;
}
.carousel.vertical:not(.carousel-fade) .prev {
  top: -100%;
}
.carousel.vertical:not(.carousel-fade) .prev.right {
  top: 0;
}
.agree-cv input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  margin-right: 10px;
}
.input-form .submit {
  border: 0px !important;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
  margin-top: 10px;
}
#map {
  border: solid 1px #cccccc;
  margin-bottom: 20px;
}
button {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.hand {
  cursor: pointer;
}
.btn-apply {
  margin: 0 auto;
  float: none;
}
.navbar-default .navbar-nav > li > a.btn-join,
.navbar-default .navbar-text {
  background-color: #ff530d;
  border-radius: 5px;
  color: #fff;
  padding: 6px 12px;
}
.navbar-default .navbar-nav > li > a.btn-join:focus,
.navbar-default .navbar-nav > li > a.btn-join:hover {
  background-color: #ff530d;
}
.test {
  color: #ffffff;
}
@media (min-width: 480px) {
  .col-client h4 {
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  .carousel-caption {
    bottom: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .navbar.navbar-default {
    height: 120px;
  }
  .navbar.navbar-default ul {
    margin-top: 65px;
  }
}
@media only screen and (max-width: 768px) {
  #mobile-header {
    display: block;
  }
  #navigation {
    display: none;
  }
}
@media (min-width: 992px) {
  .header-our-thoughts .item {
    display: table;
  }
  .header-our-thoughts .item [class*="col-md"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
  .header-our-thoughts .item .content .photo {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-right: 70px;
  }
  .carousel-caption {
    bottom: 35%;
  }
}
@media (min-width: 1200px) {
  .navbar-brand.horizontal {
    display: block !important;
  }
  .navbar-brand.vertical {
    display: none;
  }
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
body h1,
html h1,
body h2,
html h2,
body h3,
html h3,
body h4,
html h4,
body h5,
html h5,
body h6,
html h6 {
  font-family: 'Arial', sans-serif !important;
}
#content #box {
  width: 33% !important;
  height: 12% !important;
  background-color: #3c8191;
  margin: 0 auto;
  opacity: 0.6;
}
#vietnam {
  position: relative;
  margin: 0;
  background-image: url("../img/vff/9.png");
  background-size: cover;
  /*background-size: auto, cover;*/
  background-position: center center;
  background-repeat: no-repeat;
  height: 760px;
  text-align: center;
  color: #fff;
}
#vietnam:before {
  /*content: 'Join us our team';*/
  color: #fff;
  min-height: 100px;
  display: block;
}
#vffvientnam {
  position: relative;
  margin: 0;
  background-image: url("../img/vff/3.png");
  /*background-size: contain;*/
  background-size: auto, cover;
  background-position: 50% 0%, center center;
  background-repeat: repeat, no-repeat;
  height: auto;
  padding: 0em 0 6em 0;
  text-align: center;
  color: #fff;
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #logo {
    background: rgba(0, 0, 0, 0) url("../img/vff/2.png") no-repeat scroll center center;
    position: relative;
    box-sizing: border-box;
    height: 35%;
  }
  #style1 {
    position: relative;
    margin: 0;
    background-image: url("../img/vff/4.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 217px;
    text-align: center;
    color: #fff;
  }
  .classic {
    font-family: "Times New Roman", Times, serif;
  }
  .voffset1 {
    margin-top: 50px;
  }
  .voffset2 {
    margin-top: 1%;
  }
  p {
    margin: 0 0 10px;
  }
  h3 {
    display: inline;
  }
  #logoteam {
    background: rgba(0, 0, 0, 0) url("../img/vff/10.png") no-repeat scroll center center;
    background-size: contain;
    position: relative;
    box-sizing: border-box;
    height: 100%;
  }
  #container {
    display: table;
    height: 100%;
    width: 100%;
  }
  #content {
    display: table-cell;
    vertical-align: middle;
  }
  #content #box {
    width: 28%;
    height: 12%;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
  }
  #child {
    position: relative;
    transform: translateY(-5%);
    top: 50%;
  }
  .child {
    background: rgba(0, 0, 0, 0) url("../img/vff/11.png") center center;
    background-repeat: no-repeat;
    background-position: 1% 34%;
    padding-left: 18px;
    background-size: 50px;
  }
  .text-left {
    text-align: left;
    font-size: 170%;
  }
  .decoration-border {
    width: 180px;
    height: 2px;
    border-bottom: solid 1px #ffffff;
    margin: 0 auto;
  }
  .decoration-border.grey {
    border-color: #959595;
  }
  .text-color {
    color: #00aeef;
  }
  .text-size {
    font-size: 226%;
  }
  .text-margin {
    margin-top: 8%;
  }
  .margin-size {
    font-size: 354%;
  }
  .margin-sizevff {
    font-size: 300%;
  }
  .text-colorvff {
    color: #333333;
  }
  .text-colorimg {
    color: #bcbcbc;
  }
  .text-color-btn {
    color: #FFFFFF;
    font-size: -webkit-xxx-large;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
    width: 34%;
    border: 7px #FFFFFF solid;
  }
  a:hover .btn {
    color: #FFFFFF;
  }
  #style1 h2 {
    font-size: 50px !important;
  }
  .child h2 {
    font-size: 50px !important;
  }
  .btn-color {
    border-color: red;
  }
  .imge {
    margin-right: 17px;
  }
}
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #logo {
    background: rgba(0, 0, 0, 0) url("../img/vff/2.png") no-repeat scroll center center;
    position: relative;
    box-sizing: border-box;
    height: 35%;
  }
  #style1 {
    position: relative;
    margin: 0;
    background-image: url("../img/vff/4.png");
    /*background-size: contain;*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 217px;
    text-align: center;
    color: #fff;
  }
  .classic {
    font-family: "Times New Roman", Times, serif;
  }
  .voffset1 {
    margin-top: 50px;
  }
  .voffset2 {
    margin-top: 1%;
  }
  p {
    margin: 0 0 10px;
  }
  h3 {
    display: inline;
  }
  #logoteam {
    background: rgba(0, 0, 0, 0) url("../img/vff/10.png") no-repeat scroll center center;
    background-size: contain;
    position: relative;
    box-sizing: border-box;
    height: 100%;
  }
  #container {
    display: table;
    height: 100%;
    width: 100%;
  }
  #content {
    display: table-cell;
    vertical-align: middle;
  }
  #content #box {
    width: 28%;
    height: 12%;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
  }
  #child {
    position: relative;
    transform: translateY(-5%);
    top: 50%;
  }
  .child {
    background: rgba(0, 0, 0, 0) url("../img/vff/11.png") center center;
    background-repeat: no-repeat;
    background-position: 1% 34%;
    padding-left: 18px;
    background-size: 50px;
  }
  .text-left {
    text-align: left;
    font-size: 170%;
  }
  .decoration-border {
    width: 180px;
    height: 2px;
    border-bottom: solid 1px #ffffff;
    margin: 0 auto;
  }
  .decoration-border.grey {
    border-color: #959595;
  }
  .text-color {
    color: #00aeef;
  }
  .text-size {
    font-size: 217%;
  }
  .text-margin {
    margin-top: 8%;
  }
  .margin-size {
    font-size: 328%;
  }
  .margin-sizevff {
    font-size: 300%;
  }
  .text-colorvff {
    color: #333333;
  }
  .text-colorimg {
    color: #bcbcbc;
  }
  #style1 h2 {
    font-size: 50px !important;
  }
  .child h2 {
    font-size: 50px !important;
  }
  .imge {
    margin-right: 17px;
  }
  .text-color-btn {
    color: #FFFFFF;
    font-size: xx-large;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
    width: 40%;
    border: 7px #FFFFFF solid;
  }
  a:hover .btn {
    color: #FFFFFF;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  h3,
  .margin-size {
    font-size: 260% !important;
  }
  h3,
  .margin-sizevff {
    font-size: 250% !important;
  }
  .voffset1 {
    margin-top: 16px !important;
  }
  #vffvientnam {
    padding: 0em 0 1em 0 !important;
  }
  .text-left {
    text-align: left;
    font-size: 20px !important;
  }
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img,
  .img-responsive,
  .thumbnail a > img,
  .thumbnail > img {
    max-width: 20% !important;
    height: auto;
  }
  #vietnam {
    height: 216px !important;
  }
  #content #box {
    width: 50% !important;
    height: 15% !important;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
  }
  .child b {
    font-size: 15px !important;
  }
  #box .child {
    background: rgba(0, 0, 0, 0) url("../img/vff/11.png") center center;
    background-repeat: no-repeat;
    padding-left: 37px !important;
    background-size: 18% !important;
    background-position: 2px 12px !important;
  }
  #child {
    position: relative;
    transform: translateY(-75%);
    top: 50%;
  }
  .text-size {
    font-size: 217% !important;
  }
  #style1 {
    height: 120px !important;
  }
  #style1 h2 {
    font-size: 30px !important;
  }
  .imge {
    margin-right: 17px;
  }
  .text-color-btn {
    color: #FFFFFF;
    font-size: xx-large;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
    width: 45%;
    border: 7px #FFFFFF solid;
  }
  a:hover .btn {
    color: #FFFFFF;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h3,
  .margin-size {
    font-size: 260% !important;
  }
  h3,
  .margin-sizevff {
    font-size: 250% !important;
  }
  .voffset1 {
    margin-top: 16px !important;
  }
  #vffvientnam {
    padding: 0em 0 1em 0 !important;
  }
  .text-left {
    text-align: left;
    font-size: 20px !important;
  }
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img,
  .img-responsive,
  .thumbnail a > img,
  .thumbnail > img {
    max-width: 20% !important;
    height: auto;
  }
  #vietnam {
    height: 216px !important;
  }
  #content #box {
    width: 50% !important;
    height: 15% !important;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
  }
  .child b {
    font-size: 15px !important;
  }
  #box .child {
    background: rgba(0, 0, 0, 0) url("../img/vff/11.png") center center;
    background-repeat: no-repeat;
    padding-left: 37px !important;
    background-size: 18% !important;
    background-position: 2px 12px !important;
  }
  #child {
    position: relative;
    transform: translateY(-75%);
    top: 50%;
  }
  .text-size {
    font-size: 217% !important;
  }
  #style1 {
    height: 120px !important;
  }
  #style1 h2 {
    font-size: 30px !important;
  }
  .imge {
    margin-right: 17px;
  }
  .text-color-btn {
    color: #FFFFFF;
    font-size: large;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
    width: 50%;
    border: 3px #FFFFFF solid;
  }
  a:hover .btn {
    color: #FFFFFF;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  h3,
  .margin-size {
    font-size: 166% !important;
  }
  h3,
  .margin-sizevff {
    font-size: 175% !important;
  }
  .voffset1 {
    margin-top: 16px !important;
  }
  #vffvientnam {
    padding: 0em 0 1em 0 !important;
  }
  .text-left {
    text-align: left;
    font-size: 20px !important;
  }
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img,
  .img-responsive,
  .thumbnail a > img,
  .thumbnail > img {
    max-width: 20% !important;
    height: auto;
  }
  #vietnam {
    height: 216px !important;
  }
  #content #box {
    width: 50% !important;
    height: 15% !important;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
  }
  .child b {
    font-size: 15px !important;
  }
  #box .child {
    background: rgba(0, 0, 0, 0) url("../img/vff/11.png") center center;
    background-repeat: no-repeat;
    padding-left: 37px !important;
    background-size: 13% !important;
    background-position: 4px 6px !important;
  }
  #child {
    position: relative;
    transform: translateY(-75%);
    top: 50%;
  }
  .text-size {
    font-size: 140% !important;
  }
  #style1 {
    height: 120px !important;
  }
  #style1 h2 {
    font-size: 23px !important;
  }
  .child h2 {
    font-size: 24px !important;
  }
  .imge {
    margin-right: 17px;
  }
  .text-color-btn {
    color: #FFFFFF;
    font-size: large;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
    width: 64%;
    border: 3px #FFFFFF solid;
  }
  a:hover .btn {
    color: #FFFFFF;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  h3,
  .margin-size {
    font-size: 114% !important;
  }
  h3,
  .margin-sizevff {
    font-size: 115% !important;
  }
  .voffset1 {
    margin-top: 16px !important;
  }
  #vffvientnam {
    padding: 0em 0 1em 0 !important;
  }
  .text-left {
    text-align: left;
    font-size: 20px !important;
  }
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img,
  .img-responsive,
  .thumbnail a > img,
  .thumbnail > img {
    max-width: 20% !important;
    height: auto;
  }
  #vietnam {
    height: 216px !important;
  }
  #content #box {
    width: 70% !important;
    height: 17% !important;
    background-color: #3c8191;
    margin: 61px auto;
    opacity: 0.6;
  }
  .child b {
    font-size: 15px !important;
  }
  #box .child {
    background: rgba(0, 0, 0, 0) url("../img/vff/11.png") center center;
    background-repeat: no-repeat;
    padding-left: 39px !important;
    background-size: 15% !important;
    background-position: 13px 5px !important;
  }
  #child {
    position: relative;
    transform: translateY(-75%);
    top: 50%;
  }
  .text-size {
    font-size: 140% !important;
  }
  #style1 {
    height: 120px !important;
  }
  #style1 h2 {
    font-size: 23px !important;
  }
  .child h2 {
    font-size: 23px !important;
  }
  .imge {
    margin-right: 17px;
  }
  .text-color-btn {
    color: #FFFFFF;
    background-color: #3c8191;
    margin: 0 auto;
    opacity: 0.6;
    width: 69%;
    border: 3px #FFFFFF solid;
    font-size: large;
  }
  a:hover .btn {
    color: #FFFFFF;
  }
}
